.candidate-recruitment {
  padding: 10px 30px;

  .candidate-recruitment-step {
    margin: 10px 0;
  }

  .candidate-recruitment__h2 {
    font-size: 26px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #00214b;
  }

  .candidate-recruitment__h3 {
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.27;
    letter-spacing: normal;
    color: #00214b;
    text-decoration: underline;
    display: inline;
  }

  .candidate-recruitment__span {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: #00214b;
    margin-left: 10px;
    vertical-align: top;
  }

  .candidate-recruitment__label {
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
  }

  .last-updates {
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.82;
    letter-spacing: normal;
    color: #4a4a4a;
  }

  .rating-box {

    .rating-box__btn {
      border: none;
      color: #050505;
      width: 100%;
      max-width: 100px;
      height: 36px;
      border-radius: 6px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);

      &:not(:active) {
        background-color: #fffe00;
      }
    }

    .mat-button-wrapper {
      color: #00214b;
    }
  }

  .go-btns {
    margin-top: 5px;

    .go-btn {
      width: 100%;
      border: none;
      max-width: 80px;
      height: 36px;
      border-radius: 6px;
      background-color: #8dff5d;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
    }

    .no-go-btn {
      width: 100%;
      border: none;
      max-width: 80px;
      height: 36px;
      border-radius: 6px;
      background-color: #ff5f5f;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
    }
  }

  .mat-stepper-horizontal {
    background-color: #f8f8f8;
  }

  .mat-horizontal-content-container {
    padding-left: 0;
    padding-right: 0;
  }

  .mat-horizontal-stepper-header:hover {
    background-color: transparent;
  }

  .mat-horizontal-stepper-header {
    height: auto;
  }

  .mat-horizontal-stepper-header:first-child {
    padding-left: 0;
  }

  .mat-horizontal-stepper-header-container {
    max-width: 200px;
  }

}
