<div class="candidate-recruitment">
  <h2 class="candidate-recruitment__h2">
    Recruitment process
  </h2>
  <mat-horizontal-stepper>
    <mat-step>
      <div class="candidate-recruitment-step">
        <h3 class="candidate-recruitment__h3">At the event:</h3>
        <span class="candidate-recruitment__span">(By {{ candidateDetails?.firstName }})</span>
      </div>
      <div class="row">
        <div class="col-lg-12 col-xl-6">
          <label class="candidate-recruitment__label">Add comments:</label>
          <textarea placeholder="Up to 500 characters" [(ngModel)]="comments" [maxlength]="500" debounce [debounceTime]="5000" (debounce)="onDebounce($event)" indent class="form-control" rows="3">

            </textarea>
          <span *ngIf="dataUpdated" class="last-updates">Last changes updated!</span>
        </div>
        <div class="col-lg-12 col-xl-6">
          <div class="rating-box">
            <div class="candidate-recruitment__label">Rate me:</div>
            <star-rating [color]="'warn'" [starCount]="5" [rating]="rating" (ratingUpdated)="rating = $event"></star-rating>
            <div>
              <button type="button" class="btn btn-primary mt-2 float-right rating-box__btn">Save</button>
            </div>
          </div>
        </div>
      </div>
    </mat-step>
    <mat-step>
      <div class="candidate-recruitment-step">
        <h3 class="candidate-recruitment__h3">Final Decision:</h3>
        <span class="candidate-recruitment__span">(By {{ candidateDetails?.firstName }})</span>
      </div>
      <div class="row">
        <div class="col-lg-12 col-xl-6">
          <label class="candidate-recruitment__label">Add comments:</label>
          <textarea placeholder="Up to 500 characters" [(ngModel)]="comments" [maxlength]="500" debounce [debounceTime]="5000" (debounce)="onDebounce($event)" indent class="form-control" rows="3">

            </textarea>
          <span *ngIf="dataUpdated" class="last-updates">Last changes updated!</span>
        </div>
        <div class="col-lg-12 col-xl-6">
          <label class="candidate-recruitment__label">Rate me:</label>
          <div class="go-btns">
            <button type="button" class="btn btn-primary go-btn">Go</button>
            <button type="button" class="btn btn-primary ml-2 no-go-btn">No-Go</button>
          </div>
        </div>
      </div>
    </mat-step>
    <mat-step>
      <div class="candidate-recruitment-step">
        <h3 class="candidate-recruitment__h3">Interview:</h3>
        <span class="candidate-recruitment__span">(By {{ candidateDetails?.firstName }})</span>
      </div>
      <div class="row">
        <div class="col-lg-12 col-xl-6">
          <label class="candidate-recruitment__label">Add comments:</label>
          <textarea placeholder="Up to 500 characters" [(ngModel)]="comments" [maxlength]="500" debounce [debounceTime]="5000" (debounce)="onDebounce($event)" indent class="form-control" rows="3">

            </textarea>
          <span *ngIf="dataUpdated" class="last-updates">Last changes updated!</span>
        </div>
        <div class="col-lg-12 col-xl-6">
          <label class="candidate-recruitment__label">Rate me:</label>
          <div class="go-btns">
            <button type="button" class="btn btn-primary go-btn">Go</button>
            <button type="button" class="btn btn-primary ml-2 no-go-btn">No-Go</button>
          </div>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
