.positions-table {
  .items-table {
    .title-cell {
      font-size: 18px;
      color: #00214b;
      cursor: pointer;
    }

    .field-cell, .open-cell, .number-of-applies-cell {
      opacity: 0.82;
      font-size: 16px;
      color: #4a4a4a;
    }

    .empty-number-of-applies {
      color: #a00000;
    }

    .actions {
      .more {
        color: #00214b;

        &.dropdown-toggle{
          &:after{
            display: none !important;
          }
        }
      }

      .dropdown-menu {
        border-radius: 6px;
        background-color: #f7f7f7;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      }
    }
  }
}
