<div class="jblx-material positions-table">
  <div class="jblx-mat-table companies-list">
    <mat-form-field class="canceled-material">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>

    <table mat-table matSort [dataSource]="model" class="items-table w-100">

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Position</th>
        <td (click)="data.onClickRowHandler(element)" mat-cell *matCellDef="let element" class="title-cell"> {{element.title | ellipsis: 30}} </td>
      </ng-container>

      <ng-container matColumnDef="field">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Field</th>
        <td mat-cell *matCellDef="let element" class="field-cell"> {{element.field}} </td>
      </ng-container>

      <ng-container matColumnDef="open">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let element" class="open-cell">
          {{statusFormatter(element.open)}}
        </td>
      </ng-container>

      <ng-container matColumnDef="numberOfApplies">
        <th mat-header-cell *matHeaderCellDef mat-sort-header># of Applications</th>
        <td mat-cell *matCellDef="let element" class="number-of-applies-cell"
            [class.empty-number-of-applies]="element.numberOfApplies === 0">
          {{numberOfAppliesFormatter(element.numberOfApplies)}}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="actions">
          <div *ngIf="data && data.actions && data.actions.length>0" class="d-inline-block"
               ngbDropdown placement="bottom-right" [autoClose]="true"
               #actionDropdown="ngbDropdown">
            <a href="javascript:;" class="more" id="actions-table-dropdown" ngbDropdownToggle>
              <i class="material-icons">
                more_horiz
              </i>
            </a>
            <div ngbDropdownMenu aria-labelledby="actions-table-dropdown">
              <button class="dropdown-item" *ngFor="let action of data.actions" (click)="action.action(element)">
                {{action.title}}
              </button>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
    </table>

    <mat-paginator [pageSizeOptions]="pageSize"></mat-paginator>
  </div>
</div>
