<div class="candidates-filter">
  <div ngbDropdown #filterDropdown="ngbDropdown" class="d-inline-block" autoClose="outside">
    <button class="btn btn-primary candidates__btn" type="button" ngbDropdownToggle>Filter</button>
    <div ngbDropdownMenu>
      <div class="filter-container">
        <div class="filter-container-header">
          Filter
        </div>
        <div class="filter-container-content">
          <div class="row">
            <div class="col">
              <label>
                Search candidates by first name
              </label>
              <input class="form-control" type="text">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div>Status:</div>

              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="letsMeet">
                <label class="custom-control-label" for="letsMeet">Let’s meet!</label>
              </div>

              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="invited">
                <label class="custom-control-label" for="invited">Invited</label>
              </div>

              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="scheduled">
                <label class="custom-control-label" for="scheduled">Scheduled</label>
              </div>

            </div>
            <div class="col">
              <div>Rate:</div>

              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="fiveStars">
                <label class="custom-control-label" for="fiveStars">5 Stars</label>
              </div>

              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="fourStars">
                <label class="custom-control-label" for="fourStars">4 Stars</label>
              </div>

              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="threeStars">
                <label class="custom-control-label" for="threeStars">3 Stars</label>
              </div>

              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="twoStars">
                <label class="custom-control-label" for="twoStars">2 Stars</label>
              </div>

              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="oneStar">
                <label class="custom-control-label" for="oneStar">1 Stars</label>
              </div>

              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="noRate">
                <label class="custom-control-label" for="noRate">1 Stars</label>
              </div>
            </div>

            <div class="col">
              <div>CV:</div>

              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="cvAttached">
                <label class="custom-control-label" for="cvAttached">CV attached</label>
              </div>

              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="missingCv">
                <label class="custom-control-label" for="missingCv">Missing CV</label>
              </div>

            </div>

            <div class="col">
              <div>Years of experience:</div>

              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="noExp">
                <label class="custom-control-label" for="noExp">No experience</label>
              </div>

              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="oneYear">
                <label class="custom-control-label" for="oneYear">1 Year</label>
              </div>

              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="twoYears">
                <label class="custom-control-label" for="twoYears">2 Years</label>
              </div>

              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="threeYears">
                <label class="custom-control-label" for="threeYears">3+ Years</label>
              </div>

            </div>

            <div class="col">
              <div>Job availability:</div>

              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="1stSem">
                <label class="custom-control-label" for="1stSem">1st Semester</label>
              </div>

              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="2ndSem">
                <label class="custom-control-label" for="2ndSem">2nd Semester</label>
              </div>

              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="summerSem">
                <label class="custom-control-label" for="summerSem">Summer semester</label>
              </div>

            </div>

            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-4">
              <div class="row">
                <div class="col-md-12 col-lg-4">
                  <div>Status:</div>

                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="student">
                    <label class="custom-control-label" for="student">Student</label>
                  </div>

                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="alumni">
                    <label class="custom-control-label" for="alumni">Alumni</label>
                  </div>

                </div>
                <div class="col-md-12 col-lg-8">
                  <div>GPA: (All / From-To)</div>
                  <nouislider [connect]="true" [step]="1" [min]="60" [max]="100" [(ngModel)]="someRange"></nouislider>
                  <span class="float-left"><60</span>
                  <span class="float-right">100</span>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label>
                    School:
                  </label>
                  <input class="form-control" type="text">

                  <button (click)="filterDropdown.close()" type="button" class="btn btn-primary mt-2 candidates__btn float-right">Apply</button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
