.candidates-filter {
  font-family: HelveticaNeue;

  .d-inline-block {
    max-width: 1217px;

    width: 100%;
    position: static;
  }

  .dropdown-menu {
    &.show {
      padding: 0;
      top: 13px !important;
      left: 0 !important;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
      background-color: #ffffff;
      border: solid 1px #4a4a4a;
      position: relative;

      max-width: 1200px;
      width: 100%;

      &:after, &:before {
        bottom: 100%;
        left: 30px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }

      &:before {
        border-color: rgba(194, 225, 245, 0);
        border-bottom-color: #4a4a4a;
        border-width: 15px;
        margin-left: -15px;
      }

      &:after {
        border-color: rgba(136, 183, 213, 0);
        border-bottom-color: #9b9b9b;
        border-width: 13px;
        margin-left: -13px;
      }

    }
  }

  .filter-container-header {
    background-color: #9b9b9b;
    height: 35px;
    padding: 5px;
    color: #fff;
  }

  .filter-container-content {
    padding: 10px;
  }

  .filter-btn {
    float: right;
    max-width: 100px;
    width: 100%;
    height: 36px;
    border-radius: 6px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
    background-color: #ffffff;
    border: solid 1px #00214b;

    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #00214b;
  }

  .form-control {
    max-width: 449px;
    width: 100%;
    height: 26px;
    border-radius: 1px;
    background-color: #ffffff;
    border: solid 1px #4a4a4a;
    box-shadow: none;
    padding: 5px;
  }

  .custom-control-label {
    &:before {
      border-radius: 2px;
    }
  }



  .noUi-handle {
    &:before, &:after {
      content: none;
    }

    &.noUi-handle-upper, &.noUi-handle-lower {
      height: 16px;
      width: 16px;
      box-shadow: none;
      border-radius: 8px;
      background-color: #f9f9f9;
      border: solid 1px #979797;
      outline: none;
      right: -8px !important;
      top: -7px;
    }
  }

  .noUi-connect {
    height: 3px;
    border: solid 1px #979797;
    background: #979797;
  }

  .noUi-horizontal {
    height: 3px;
  }
}

