.modal-dialog {
    margin-top: 105px;

    &.modal-lg {
        .modal-content {
            max-width: 1100px;
            margin: 0 auto;
        }
    }
}

.terms-modal {
    padding: 44px 50px;
    max-width: 1100px;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    font-family: HelveticaNeue;

    .modal-title {
        font-size: 24px;
        font-weight: 500;
        line-height: 0.83;
        text-align: center;
        color: #00214b;
        margin-bottom: 10px;
    }

    .last-update {
        font-size: 20px;
        font-weight: normal;
        letter-spacing: normal;
        color: #00214b;
        margin-bottom: 7px;
    }

    .buttons-container {
        text-align: right;
        margin-top: 30px;
    }

    .terms-text {
        max-width: 994px;
        overflow: auto;
        height: 416px;

        font-size: 14px;
        font-weight: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #4a4a4a;
        padding-right: 15px;

      .terms-of-use {
        font-size: 14px;
        padding: 0;

        .terms-title {
          display: none;
        }

        h2 {
          font-size: 18px;
        }
      }
    }

    .terms-btn {
        margin-right: 10px;
        width: 100%;
        border: none;
        max-width: 170px;
        height: 39px;
        border-radius: 6px;
        background-color: #cecece;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);

        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.4px;
        text-align: center;
        color: #050505;

        &.read {
            background-color: #fffe00;
        }
    }

    ::-webkit-scrollbar {
        width: 6px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #00214b;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

}

