<ng-template #content let-c="close" let-d="dismiss">

  <div class="modal-body terms-modal">

    <h2 class="modal-title">Terms and conditions</h2>

    <p class="last-update">Last updated: October 3, 2018</p>

    <div (scroll)="scrollHandler($event)" class="terms-text">
      <jblx-terms-of-use></jblx-terms-of-use>
    </div>

    <div class="buttons-container">
        <button (click)="d('Cross click')" type="button" class="btn btn-primary terms-btn">Decline</button>
        <button (click)="accept();d('Cross click')" [disabled]="!termsRead" type="button" [ngClass]="{'read' : termsRead }" class="btn btn-primary terms-btn">Accept</button>
    </div>

  </div>

</ng-template>
