<div class="card">
  <a class="card-link-wrapper" >
    <div (click)="select()" class="card-header">
      <img *ngIf="!string.isNullOrEmpty(candidate.profilePicUrl)"
           class="card__img rounded-circle" [src]="candidate.profilePicUrl"
           [ngClass]="{'top-rated': candidate?.rate === 5}"
           alt="Card image cap">
      <img *ngIf="string.isNullOrEmpty(candidate.profilePicUrl)" class="card__img rounded-circle"
           src="../../../../assets/images/candidate-default.png" alt="Card image cap">
      <div *ngIf="candidate?.rate > 0" class="star" [ngClass]="{'red': candidate.rate === 1,
    'yellow': candidate.rate == 2 || candidate.rate == 3, 'green': candidate.rate === 4 || candidate.rate === 5}">{{ candidate.rate }}</div>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ candidate.firstName + ' ' + candidate.lastName }}</h5>

      <div class="info">
        <div class="info__div info" *ngIf="candidate.fieldOfInterest1 || candidate.fieldOfInterest2">
          <p>{{ candidate.fieldOfInterest1 }}</p>
          <p>{{ candidate.fieldOfInterest2 }}</p>
        </div>
        <div class="info__div degree">
          {{
          (degree?.bachelorType ? bachelorType[degree?.bachelorType] : '') +
          (string.isNullOrEmpty(degree?.facultyName) ? '' : ', ' + degree?.facultyName) +
          (string.isNullOrEmpty(degree?.instituteName) ? '' : ', ' + degree?.instituteName) +
          (degree?.gpa ? '' : ', ' + gpa[degree?.gpa]) +
          ((degree?.startDate ?  ', ' + formatDate(degree?.startDate) + ' - ' : '') +
          (!degree?.startDate ? ', ' + formatDate(degree?.graduatedDate) : formatDate(degree?.graduatedDate)) )
          }}
        </div>
        <div class="info__div years">{{ (!candidate.yearsOfExperience || candidate.yearsOfExperience <= 0) ? 'No experience' :
          candidate.yearsOfExperience + ' years of experience' }}
        </div>
        <div class="info__div" [ngClass]="{'cv': candidate.hasCv, 'no-cv': !candidate.hasCv}">
          CV included
        </div>
      </div>

    </div>
  </a>
  <button [disabled]="candidate.invited || invited || candidate.scheduled == scheduleType.RequestToScheduled"
          [ngClass]="{'card__btn_invited': candidate.invited || invited || candidate.scheduled == scheduleType.RequestToScheduled}"
          (click)="scheduleOrInvite()"
          *ngIf="event?.eventType != eventType.ON_GOING" class="btn btn-primary card__btn" type="button">
    {{ getButtonText() }}
  </button>
</div>
