.card {
  font-family: HelveticaNeue;
  max-width: 290px;
  width: 100%;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  height: 100%;
  align-items: center;
  padding: 5px 8px 9px 8px;

  .card-link-wrapper {
    display: block;
    text-decoration: none;
  }

  .card-header {
    text-align: center;
    background-color: #fff;
    border: none;
    padding: 5px 0;
    position: relative;
    cursor: pointer;
  }

  .card__img {
    height: 70px;
    width: auto;

    &.top-rated {
      border: solid 2px #246f00;
    }
  }

  .card-body {
    padding: 0 5px;
    width: 100%;


    .card-title {
      text-align: center;
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #00214b;
      margin-bottom: 7px;
    }

    .info {
      //list-style: none;
      margin-left: 0;
      padding: 0;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #4a4a4a;

      .info__div {
        padding-left: 27px;
        background-size: 20px 20px;
        background-repeat: no-repeat;
        min-height: 20px;
        margin-bottom: 5px;

        &.info {
          background-image: url("../../../../assets/images/candidate/ic_target.png");
        }

        &.degree {
          background-image: url("../../../../assets/images/candidate/ic_student.png");
        }

        &.years {
          background-image: url("../../../../assets/images/candidate/ic_job.png");
        }

        &.cv {
          background-image: url("../../../../assets/images/candidate/cv_attachment_yes.png");
        }

        &.no-cv {
          background-image: url("../../../../assets/images/candidate/cv_attachment_no.png");
        }

      }


    }

  }

  .star {
    height: 25px;
    width: 25px;
    position: absolute;
    right: 0;
    bottom: 0;
    background: no-repeat center;
    background-size: cover;
    color: #fff;
    font-size: 13px;
    padding-top: 4px;

    &.green {
      background-image: url("../../../../assets/images/candidate/Star_green.png");
    }

    &.red {
      background-image: url("../../../../assets/images/candidate/Star_red.png");
    }

    &.yellow {
      background-image: url("../../../../assets/images/candidate/Star_yellow.png");
    }
  }

  .star::before {
    display: inline-block;
    height: 100%;
    background: blue;
    vertical-align: middle;
    content: '';
  }

  .card__btn {
    width: 100%;
    border: none;
    max-width: 100px;
    height: 30px;
    border-radius: 6px;
    background-color: #0050a0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);

    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: center;
    color: #ffffff;


  }

  .card__btn_invited {
    border-radius: 6px;
    background-color: #bbbbbb;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
  }

}

