.test-backdrop {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
}

.sliding-panel {
  position: fixed;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
  width: 45%;
  min-width: 250px;
  z-index: 9999;
  background-color: #f8f8f8;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
}
