<ng-template #content let-c="close" let-d="dismiss">
<div class="modal-header">
  <p class="modal-title">
    First, let’s get you a better password
  </p>
  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="help-text">
    <div class="text-left">
      Your password must contain the following:
    </div>
    <div class="pl-3 pt-2 pb-2 text-left">
      At least 8 characters <br>
      At least 1 uppercase letter and at least 1 number
    </div>
  </div>
  <form #resetPasswordForm="ngForm" (submit)="onSubmit(resetPasswordForm)" novalidate>
    <div class="form-group">
      <input #oldPassword="ngModel"
             name="oldPassword"
             [(ngModel)]="changePasswordModel.currentPassword"
             type="password"
             class="form-control"
             [ngClass]="{ 'is-invalid': oldPassword?.errors?.required && oldPassword.dirty }"
             placeholder="Old password"
             required>
    </div>
    <div class="form-group">
      <input #newPassword="ngModel"
             name="newPassword"
             [(ngModel)]="changePasswordModel.newPassword"
             type="password"
             class="form-control"
             [ngClass]="{ 'is-invalid': newPassword?.errors?.required && newPassword.dirty }"
             placeholder="New password"
             required
             pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d_!@#\$%\^&\*]{8,100}$">
      <!-- Minimum eight characters, at least one uppercase letter, one lowercase letter and one number -->
    </div>
    <div class="form-group">
      <input #confirmPassword="ngModel"
             ngModel
             name="confirmPassword"
             type="password"
             class="form-control"
             [ngClass]="{ 'is-invalid': confirmPassword?.errors?.required && confirmPassword.dirty }"
             placeholder="Re-type new password"
             required
             [equalTo]="newPassword">
    </div>
    <div *ngIf="oldPassword?.errors?.required && oldPassword.dirty" class="jbrx-control-error text-left">
      Old password is required.
    </div>
    <div *ngIf="newPassword?.errors?.required && newPassword.dirty" class="jbrx-control-error text-left">
      Password is required.
    </div>
    <div *ngIf="newPassword?.errors?.pattern && newPassword.dirty" class="jbrx-control-error text-left">
      Password should be at least 8 characters / <br>
      Password should include 1 uppercase letter and 1 number
    </div>
    <div *ngIf="confirmPassword?.errors?.required && confirmPassword.dirty" class="jbrx-control-error text-left">
      Confirm password is required.
    </div>
    <div *ngIf="confirmPassword.errors?.equalTo && confirmPassword.dirty" class="jbrx-control-error text-left">
      Passwords are not match.
    </div>
    <div class="form-group text-center pt-2">
      <button type="submit" class="jblx-btn btn-modal btn-yellow reset-password-btn">
        Reset Password
      </button>
    </div>
  </form>
</div>
</ng-template>
