.modal.side-modal {
  right: 0;
  top: 0;
  bottom: auto;
  left: auto;
  max-height: 100vh;
  overflow: hidden;

  .modal-dialog {
    margin-top: 0;
    min-width: 450px;
    height: 100%;

    .modal-content {
      height: 100vh;

      .modal-header {
        border-bottom: none;
        padding-top: 10px;
        padding-bottom: 5px;
        min-height: 30px;

        .close {
          margin: -1rem;
        }
      }

      .modal-body {
        .modal-content-wrapper {
          height: calc(100vh - 70px);
          overflow-y: auto;
        }
      }
    }
  }
}
