<div class="company-profile">
  <h2 class="company-profile__h2">Let’s tell the world how awesome your company is!</h2>
  <form #profileForm="ngForm" (submit)="onSubmit()" novalidate>
    <div class="row">
      <div class="col-md-6">
        <div class="form-row">
          <div class="col-md-4">
            <label class="company-label" for="companyName">Company name *</label>

            <input type="text" class="form-control" id="companyName" placeholder="Name from invitation"
                   [ngClass]="{ 'is-invalid': (companyName?.errors?.required || companyName?.errors?.maxlength) && companyName.dirty }"
                   name="companyName"
                   #companyName="ngModel"
                   [(ngModel)]="profile.name"
                   maxlength="50"
                   required>
            <div class="text-right length-counter">
              {{lengthFormatter(profile.name)}} / 50
            </div>
            <div *ngIf="companyName?.errors?.required && companyName.dirty" class="invalid-feedback">
              Oops… You forgot to add company name
            </div>
            <div *ngIf="companyName?.errors?.maxlength && companyName.dirty" class="invalid-feedback">
              Oops… You entered too many characters
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-12">
            <label for="liner" class="company-label">1 liner</label>
            <input type="text" class="form-control" id="liner" placeholder="Up to 150 characters"
                   [ngClass]="{ 'is-invalid': (liner?.errors?.required || liner?.errors?.maxlength) && liner.dirty }"
                   name="liner"
                   #liner="ngModel"
                   [(ngModel)]="profile.oneLiner"
                   maxlength="150">
            <div class="text-right length-counter">
              {{lengthFormatter(profile.oneLiner)}} / 150
            </div>
            <div *ngIf="liner?.errors?.maxlength && liner.dirty" class="invalid-feedback">
              Oops… You entered too many characters
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-4">
        <!--Here will be logo-->
        <div class="form-group company-group">


          <div class="row">
            <div class="col text-right pr-1">
              <label class="company-label upload-label">Company logo</label>
              <img class="img-fluid" *ngIf="!imagePreview && profile.logoUrl" [src]="profile.logoUrl">
              <img class="img-fluid" *ngIf="!imagePreview && !profile.logoUrl" src="../../../assets/images/company-image-default.png"/>
              <img class="img-fluid" *ngIf="imagePreview" [src]="imagePreview"/>
            </div>
            <div class="col-auto pl-1">
              <input  (change)="readURL($event)"
                      type="file"
                      class="btn btn-primary form-control-file"
                      id="comapanyLogo" aria-describedby="fileHelp">

              <label class="btn btn-primary" for="comapanyLogo">Change logo</label>
            </div>
          </div>


        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-10">
        <label class="company-label" for="companyDescription">Company description *</label>
        <textarea placeholder="Up to 1000 characters" class="form-control company-textarea" id="companyDescription"
                  [ngClass]="{ 'is-invalid': (about?.errors?.required || about?.errors?.maxlength) && about.dirty }"
                  name="about"
                  #about="ngModel"
                  [(ngModel)]="profile.about"
                  maxlength="1000"
                  required
                  rows="5">

        </textarea>
        <div class="text-right length-counter">
          {{lengthFormatter(profile.about)}} / 1000
        </div>
        <div *ngIf="about?.errors?.required && about.dirty" class="invalid-feedback">
          Oops… You forgot to add company description
        </div>
        <div *ngIf="about?.errors?.maxlength && about.dirty" class="invalid-feedback">
          Oops… You entered too many characters
        </div>
      </div>
    </div>

    <div class="form-row mt-2">
      <div class="form-group col-md-3 col-sm-6">
        <label class="company-label">Field 1 *</label>
        <select type="text" class="form-control"
                [ngClass]="{ 'is-invalid': industry1?.errors?.required && industry1.dirty }"
                name="industry1"
                #industry1="ngModel"
                [(ngModel)]="profile.industry1"
                required>
          <option [ngValue]="undefined" disabled>Please, select ...</option>
          <option *ngFor="let field of organizationService.getCompanyFields()" [ngValue]="field">{{ field }}</option>
        </select>

        <div *ngIf="industry1?.errors?.required && industry1.dirty" class="invalid-feedback">
          You forgot to add field
        </div>

      </div>

      <div class="form-group col-md-3 col-sm-6">
        <label class="company-label">Field 2</label>
        <select type="text" class="form-control"
                [ngClass]="{ 'is-invalid': industry2?.errors?.required && industry2.dirty }"
                name="industry2"
                #industry2="ngModel"
                [(ngModel)]="profile.industry2">
          <option [ngValue]="undefined">Please, select ...</option>
          <option *ngFor="let field of organizationService.getCompanyFields()" [ngValue]="field">{{ field }}</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3 col-sm-6">
        <label class="company-label">Size *</label>
        <select type="text" class="form-control"
                [ngClass]="{ 'is-invalid': size?.errors?.required && size.dirty }"
                name="size"
                #size="ngModel"
                [(ngModel)]="profile.size"
                required>
          <option [ngValue]="undefined" disabled>Please, select ...</option>
          <option *ngFor="let sizeData of comapnySizes" [ngValue]="sizeData.id">{{ sizeData.size }}</option>
        </select>

        <div *ngIf="size?.errors?.required && size.dirty" class="invalid-feedback">
          Oops… You forgot to add company size
        </div>

      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-7 col-sm-6">
        <label class="company-label">Location *</label>
        <ng4geo-autocomplete [userSettings]="userSettings"
                             (componentCallback)="autoCompleteCallback($event)"></ng4geo-autocomplete>
        <div *ngIf="locationInvalid" [ngStyle]="{'display': locationInvalid ? 'block': 'none'}" class="invalid-feedback">
          Oops… You forgot to add location
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-7 col-sm-6">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="officeAccessible"
                 [ngClass]="{ 'is-invalid': diversedWorkforce?.errors?.required && diversedWorkforce.dirty }"
                 name="diversedWorkforce"
                 #diversedWorkforce="ngModel"
                 [(ngModel)]="profile.accessibleOffices">
          <label class="custom-control-label" for="officeAccessible">Our offices are accessible</label>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-10">
        <label for="bestCompany" class="company-label">Why we are the best company ever!!</label>
        <input type="text" class="form-control" id="bestCompany" placeholder="Up to 150 characters"
               [ngClass]="{ 'is-invalid': (bestCompany?.errors?.required || bestCompany?.errors?.maxlength) && bestCompany.dirty }"
               name="bestCompany"
               #bestCompany="ngModel"
               [(ngModel)]="profile.whyWeAreTheBest"
               maxlength="150">
        <div class="text-right length-counter">
          {{lengthFormatter(profile.whyWeAreTheBest)}} / 150
        </div>
        <div *ngIf="bestCompany?.errors?.maxlength && bestCompany.dirty" class="invalid-feedback">
          Oops… You entered too many characters
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-7 col-sm-6">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="diversedWorkforce"
                 [ngClass]="{ 'is-invalid': diversedWorkforce?.errors?.required && diversedWorkforce.dirty }"
                 name="diversedWorkforce"
                 #diversedWorkforce="ngModel"
                 [(ngModel)]="profile.wishToCreateDiverctyWorkForce">
          <label class="custom-control-label" for="diversedWorkforce">My company wish to create a diversed
            workforce</label>
        </div>
      </div>
    </div>

    <div *ngIf="!isEdit" class="form-row">
      <div class="form-group col-md-7 col-sm-6">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="isRepresentative"
                 [ngClass]="{ 'is-invalid': representative?.errors?.required && representative.dirty }"
                 name="representative"
                 #representative="ngModel"
                 [(ngModel)]="isRepresentative"
                 required>
          <label class="custom-control-label" for="isRepresentative">I’m a representative of this company</label>

          <div *ngIf="representative?.errors?.required && representative.dirty" class="invalid-feedback">
            You must approve this to create company’s profile
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-10">
        <button [disabled]="submitted && profileForm.invalid" [ngClass]="{'disabled': submitted && profileForm.invalid}" type="submit" class="btn btn-primary float-right">
           {{ isEdit ? 'Save' : 'Create profile' }}
        </button>
      </div>
    </div>

  </form>

</div>
