.company-profile {
  padding: 20px;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  font-family: HelveticaNeue;

  .company-profile__h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    color: #00214b;
  }

  .company-label, .custom-control-label {
    font-size: 15px;
    font-weight: normal;
    line-height: 1.33;
    color: #00214b;
  }

  .form-control {
    min-height: 40px;
    border-radius: 2px;
    background-color: #f9f9f9;
    border: solid 1px #979797;

    font-size: 15px;
    font-weight: normal;
    line-height: 1.33;
    color: #4a4a4a;
  }

  .custom-control-label:before {
    border-radius: 0;
  }

  .company-group {
    text-align: center;
  }

  .btn {
    &.btn-primary {
      width: 100%;
      border: none;
      max-width: 170px;
      height: 36px;
      border-radius: 6px;
      background-color: #fffe00;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);

      font-size: 16px;
      font-weight: normal;
      line-height: normal;
      letter-spacing: 0.5px;
      text-align: center;
      color: #050505;
    }

    &.disabled {
      background-color: #cecece;
    }
  }

  .form-control-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .form-control-file + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
    margin-left: 10px;
    margin-top: 30px;
  }

  .upload-label {
    display: block;
  }

  .img-fluid {
    max-width: 100px;
  }

  .custom-autocomplete__input #search_places {
    max-height: 40px;
    border-radius: 2px;
    background-color: #f9f9f9;
    border: solid 1px #979797;

    font-size: 15px;
    font-weight: normal;
    line-height: 1.33;
    color: #4a4a4a;
  }

  .length-counter {
    font-size: 14px;
    color: #979797;
  }
}
