<div class="modal-body login-modal">

  <h2 class="modal-title">Log in</h2>

  <form #loginForm="ngForm" (submit)="onSubmit()" novalidate>
    <div class="form-group">
      <input #username="ngModel" name="username" [(ngModel)]="loginModel.username" type="text" class="form-control" [ngClass]="{ 'is-invalid': username?.errors?.required && username.dirty }"
        placeholder="Username" required>

      <div *ngIf="username?.errors?.required && username.dirty" class="invalid-feedback">
        Username is required.
      </div>
    </div>
    <div class="form-group">
      <input #password="ngModel" name="password" [(ngModel)]="loginModel.password" [ngClass]="{ 'is-invalid': password?.errors?.required && password.dirty }"
        type="password" class="form-control" placeholder="Password" required>
      <div *ngIf="password?.errors?.required && password.dirty" class="invalid-feedback">
        Password is required.
      </div>
    </div>
    <button [disabled]="submitted && loginForm.invalid" type="submit" class="btn btn-primary login-btn">Login</button>


    <a href="javascript:;" (click)="forgotPasswordModalShow()" class="forgot-password-link">I forgot my password</a>
  </form>

  <re-captcha #captchaRef="reCaptcha" size="invisible" (resolved)="$event && submit($event)"></re-captcha>

</div>
