<div class="candidate-description">
  <div class="candidate-info">
    <h3 class="candidate-info__h3">
      {{superPowerFormatter()}}</h3>
  </div>
  <div class="candidate-info">
    <h3 class="candidate-info__h3">
      {{experienceFormatter()}}
    </h3>
  </div>
  <div class="candidate-info">
    <h3 class="candidate-info__h3">Job availability:</h3>
    <p class="candidate-info__p">{{availabilityFormatter()}}</p>
  </div>
  <div class="candidate-info">
    <h3 class="candidate-info__h3">Education:</h3>
    <div class="candidate-info__div">
      <p *ngFor="let degree of candidateDetails?.degrees" class="candidate-info__p">
        {{educationFormatter(degree)}}
      </p>
    </div>
  </div>
  <div class="candidate-info">
    <h3 class="candidate-info__h3">Courses:</h3>
    <div class="candidate-info__div three-rows">
      <p *ngFor="let course of candidateDetails?.courseInfos" class="candidate-info__p">
        {{courseFormatter(course)}}
      </p>
    </div>
  </div>
  <div class="candidate-info">
    <h3 class="candidate-info__h3">Volunteer:</h3>
    <div class="candidate-info__div">
      <p *ngFor="let volunteerInfo of candidateDetails?.volunteerInfos" class="candidate-info__p">
        {{volunteerFormatter(volunteerInfo)}}
      </p>
    </div>
  </div>
</div>
