.candidate-description {
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  padding: 15px 30px;

  .candidate-info {
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;

    .candidate-info__h3 {
      font-size: 20px;
      color: #00214b;
      margin: 0;
    }

    .candidate-info__p {
      color: #4a4a4a;
      font-size: 14px;
      margin: 5px 0;
    }
  }

  .candidate-info__div {
    height: 100%;
    overflow-y: auto;
    max-height: 50px;

    &.three-rows {
      max-height: 70px;
    }
  }
}


::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00214b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
