.accounts-table {
  font-family: HelveticaNeue;

  th, td {
    min-width: 80px;
  }

  .mat-header-cell, .recruiter-name {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #00214b;
  }

  .mat-cell {
    border-bottom: solid 2px #e0e0e0;

    &:not(.recruiter-name) {
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: 0.6px;
      color: #4a4a4a;
    }
  }

  .mat-header-row {
    .mat-header-cell {
      border-bottom: none;
    }
  }

  .status {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.6px;

    &.failed {
      color: #a00000;
    }

    &.invited {
      color: #e0e400;
    }

    &.registered {
      color: #246f00;
    }
  }

}
