<div class="accounts-table">
  <table mat-table matSort [dataSource]="model" class="items-table w-100">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td (click)="data.onClickRowHandler(element)" mat-cell *matCellDef="let element" class="recruiter-name">
        {{element.firstName + ' ' + element.lastName | ellipsis: 30}}
      </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
      <td mat-cell *matCellDef="let element" class="field-cell"> {{element.jobTitle | ellipsis: 30}}</td>
    </ng-container>

    <ng-container matColumnDef="emailAddress">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email address</th>
      <td mat-cell *matCellDef="let element" class="open-cell"> {{ element.emailAddress }}</td>
    </ng-container>

    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone number</th>
      <td mat-cell *matCellDef="let element" class="open-cell">
        {{ phoneNumberFormatter(element.phoneNumber, element.countryPhonePrefix) }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let element" class="status" [ngClass]="getStatusClass(element.status)"> {{ registrationStatuses[element.status] }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="pageSize"></mat-paginator>
</div>
