<div class="modal-header">
  <p class="modal-title" *ngIf="model.title">{{model.title}}</p>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" *ngIf="model.message">
  {{model.message}}
</div>
<div class="modal-footer">
  <button type="button" class="jblx-btn btn-modal" [ngClass]="model.classCloseBtn"
          (click)="activeModal.close('Close click')" *ngIf="model.isCloseBtn">
    {{model.closeBtnTxt}}
  </button>
  <button type="button" class="jblx-btn btn-modal" [ngClass]="model.classActionBtn"
          (click)="onActionBtnClick()" *ngIf="model.isActionBtn">
    {{model.actionBtnTxt}}
  </button>
</div>
