<div class="event-slider-wrapper">

  <a class="slider-prev-action ff-gi" [class.disabled]="isStart" (click)="prev()" *ngIf="isSlider"></a>

  <div class="slider-container" #container>
    <div [id]="'event_'+(i+1)" class="event-item-wrapper" [routerLink]="['/host/event', event.id]" *ngFor="let event of events; let i = index">
      <div class="event-item">
        <div class="event-img">
          <img [src]="event.bgUrl">
        </div>
        <div class="event-info">
          <p class="event-name" jblxSplitByLine [maxline]="2" [maxCharacters]="20">
            {{event.title}}
          </p>
          <p class="event-time">
            {{event.when | date: 'dd/MM/yy hh:mm'}} -
            {{event.endDate | date: 'hh:mm'}}
          </p>
          <p class="event-location">
            @{{event.locationName | ellipsis: 18}}
          </p>
        </div>
      </div>
    </div>
  </div>

  <a class="slider-next-action ff-gi" [class.disabled]="isEnd" (click)="next()" *ngIf="isSlider"></a>
</div>
