.vertical-transform-rotate(@rotate) {
  -webkit-transform: rotate(@rotate);
  -moz-transform: rotate(@rotate);
  -ms-transform: rotate(@rotate);
  -o-transform: rotate(@rotate);
}

.event-slider-wrapper {
  .slider-action-wrapper {
    width: 52px;
    height: 100%;
    background: yellow;
  }

  .slider-next-action,
  .slider-prev-action {
    vertical-align: middle;
    cursor: pointer;
    font-size: 52px;
    line-height: 44px;
    display: inline-block;
    width: 52px;
    height: 52px;

    &:before {
      content: 'arrow_drop_down';
      color: white;
      position: absolute;
      z-index: 1000;
      top: 5px;
    }

    &:after {
      position: absolute;
      content: '';
      display: inline-block;
      width: 52px;
      height: 52px;
      -moz-border-radius: 52px;
      -webkit-border-radius: 52px;
      border-radius: 52px;
      background: linear-gradient(to right, #003e75, #00214b);
    }

    &.disabled {
      pointer-events: none;
      cursor: default;

      &:after {
        background: linear-gradient(to right, #6d6d6d, #2d2d2d);
      }
    }
  }

  .slider-next-action {
    .vertical-transform-rotate(270deg);
    right: -52px;
  }

  .slider-prev-action {
    .vertical-transform-rotate(90deg);
  }

  .slider-container {
    width: calc(100% - 108px);
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;

    .event-item-wrapper {
      display: inline-block;
      border: 1px solid white;
      padding: 5px;
      cursor: pointer;

      .event-item {
        width: 200px;
        box-shadow: 2px 3px 4px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-top: solid 1px rgba(0, 0, 0, 0.15);
        border-left: solid 1px rgba(0, 0, 0, 0.15);

        .event-img{
          width: 200px;
          height: 130px;
          background-color: #d8d8d8;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .event-info{
          background-color: #00214b;
          width: 200px;
          color: white;
          border-top: solid 1px black;


          .event-name{
            font-size: 18px;
            line-height: 1.5;
            text-align: center;
            padding: 6px 9px 9px 9px;
            white-space: normal;
          }

          .event-time, .event-location {
            padding: 4px 9px;
            font-weight: 300;
            line-height: 1.5;
            letter-spacing: 0.6px;
            font-size: 16px;
          }
        }
      }
    }
  }
}
