<div class="candidate-profile" [perfectScrollbar]="scrollConfig">
  <div *ngIf="candidateDetails && event">
    <jblx-candidate-main-info [candidateDetails]="candidateDetails" *ngIf="candidateDetails && event"
                              [eventId]="eventId"
                              [isFullProfile]="false"
                              [currentEventType]="event.eventType"></jblx-candidate-main-info>
    <jblx-candidate-info [candidateDetails]="candidateDetails"></jblx-candidate-info>
    <jblx-candidate-recruitment-widget [candidateDetails]="candidateDetails"></jblx-candidate-recruitment-widget>
  </div>
</div>
