<div class="create-profile">

        <form class="create-profile-form" #createProfileForm="ngForm" (submit)="onSubmit()" novalidate>

                <h2 class="title">Just making sure it’s you!</h2>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="form-label" for="firstName">Your name *</label>
                        <input #firstName="ngModel" name="firstName" [(ngModel)]="createProfileRequest.firstName" type="text" class="form-control"
                            [ngClass]="{ 'is-invalid': firstName?.errors?.required && firstName.dirty }" placeholder="First name"
                            required id="firstName">

                        <div *ngIf="firstName?.errors?.required && firstName.dirty" class="invalid-feedback">
                            First name is required.
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-label" for="lastName">Your last name *</label>
                        <input #lastName="ngModel" name="lastName" [(ngModel)]="createProfileRequest.lastName" type="text" class="form-control" [ngClass]="{ 'is-invalid': lastName?.errors?.required && lastName.dirty }"
                            placeholder="Last name" required id="lastName">

                        <div *ngIf="lastName?.errors?.required && lastName.dirty" class="invalid-feedback">
                            Last name is required.
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label" for="phoneNumber">Phone number</label>
                    <input #phoneNumber="ngModel" name="phoneNumber" [(ngModel)]="createProfileRequest.phoneNumber" type="text" class="form-control"
                        [textMask]="phoneTextMask" pattern="^[+][\d]{1,3}-[\d]{9,17}$" [ngClass]="{ 'is-invalid': phoneNumber?.invalid && phoneNumber.dirty }"
                        placeholder="Phone number" id="phoneNumber">

                    <div *ngIf="phoneNumber?.errors?.pattern && phoneNumber.dirty" class="invalid-feedback">
                        Phone number is invalid.
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label" for="jobTitle">Job title</label>
                    <input #jobTitle="ngModel" name="jobTitle" [(ngModel)]="createProfileRequest.jobTitle" type="text" class="form-control" [ngClass]="{ 'is-invalid': jobTitle?.invalid && jobTitle.dirty }"
                        placeholder="Job title" maxlength="30" id="jobTitle">

                </div>

                <button [disabled]="submitted && createProfileForm.invalid" type="submit" class="btn btn-primary continue">
                  Continue
                </button>

                <div *ngIf="submitted && createProfileForm.invalid" class="errors">
                    One or more of the fields are missing. Please check.
                </div>

            </form>

</div>

<terms-modal #termsModal></terms-modal>
