.create-profile {
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    font-family: HelveticaNeue;
    background-color: #f4f4f4;
    color: #00214b;
    padding: 100px 0;

    .create-profile-form {
        padding: 35px 71px 128px 71px;
        max-width: 482px;
        width: 100%;
        background-color: #ffffff;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
        margin: 0 auto;

        .title {
            font-size: 24px;
            font-weight: 500;
            line-height: 0.83;
            text-align: center;
            margin-bottom: 21px;
        }
    
        .form-label {
            font-size: 15px;
            font-weight: normal;
            line-height: 1.33;
        }
    
        .form-control {
            height: 40px;
            border-radius: 2px;
            background-color: #ffffff;
            border: solid 1px #979797;
            font-size: 15px;
            font-weight: normal;
            line-height: 1.33;
            color: #4a4a4a;
        }
    
        .btn {
            &.continue {
                width: 100%;
                max-width: 170px;
                height: 39px;
                border-radius: 6px;
                background-color: #fffe00;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
                display: block;
                margin: 0 auto;
                font-size: 14px;
                font-weight: 500;
                letter-spacing: 0.4px;
                text-align: center;
                color: #050505;
                border: none;
                margin-top: 42px;
            }
        }
    
        .errors {
            font-size: 12px;
            font-weight: normal;
            line-height: 1.67;
            text-align: center;
            color: #dc3545;
            margin-top: 12px;
        }
    }

    

}