.about-company {
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  font-family: HelveticaNeue;

  .company-profile__h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    color: #00214b;
  }

  .company-label, .custom-control-label {
    font-size: 18px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #00214b;
  }

  .img-fluid {
    max-width: 100px;
    float: left;
    margin-right: 1rem;
  }

  .company-profile-liner {
    font-size: 20px;
    font-weight: normal;
    line-height: normal;
    color: #4a4a4a;
  }

  .company-profile__p {
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #4a4a4a;
  }

  .about-company-description {
    font-family: HelveticaNeue;
    max-height: 148px;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: pre-wrap;
    margin-bottom: 0;
  }

  .edit-btn {
    width: 100%;
    max-width: 100px;
    height: 40px;
    border-radius: 23.5px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 1);
    background-color: #ffffff;
    border: solid 1px #00214b;

    font-family: HiraKakuPro-W3;
    font-size: 16px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #00214b;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #00214b;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

}
