<div class="about-company">
  <div  class="row">
    <div class="col-md-6">

      <img *ngIf="!string.isNullOrEmpty(profile?.logoUrl)" class="img-fluid" [src]="profile.logoUrl"/>
      <img *ngIf="string.isNullOrEmpty(profile?.logoUrl)" class="img-fluid" src="../../../assets/images/company-image-default.png"/>
      <h2 class="company-profile__h2">{{ profile.name }}</h2>
      <p class="company-profile-liner">{{ profile.oneLiner }}</p>
    </div>
    <div class="col-md-6">
      <button [routerLink]="['/profile/company']" [queryParams]="{edit: 'true'}" class="btn btn-primary float-right edit-btn" type="button">Edit</button>
    </div>
  </div>

  <div class="form-row mt-1">
    <div class="form-group col-md-11 mt-2">
      <label class="company-label">Our uniqueness</label>
      <p *ngIf="!string.isNullOrEmpty(profile?.whyWeAreTheBest)" class="company-profile__p">{{ profile.whyWeAreTheBest }}</p>
      <p *ngIf="string.isNullOrEmpty(profile?.whyWeAreTheBest)" class="company-profile__p">This field is empty. Want to add something? Click the edit button</p>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-11">
      <label class="company-label">About the company</label>
      <pre class="company-profile__p about-company-description">{{ profile.about }}</pre>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-11">
      <label class="company-label">Size</label>
      <p class="company-profile__p">{{ comapnySizes[profile?.size]?.size }}</p>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-11">
      <label class="company-label">Fields</label>
      <p class="company-profile__p">{{ profile.industry1 + (!string.isNullOrEmpty(profile?.industry2) ? ', ' + profile.industry2 : '')}}</p>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-11">
      <label class="company-label">Location</label>
      <p class="company-profile__p">{{ profile.location?.placeName }}</p>
      <p class="company-profile__p mt-2">{{ profile?.accessibleOffices ? 'Accessible' : 'Not accessible' }}</p>
    </div>
  </div>

  <div *ngIf="profile.wishToCreateDiverctyWorkForce" class="form-row">
    <div class="form-group col-md-11">
      <label class="company-label">We are pro diversed workforce!</label>
    </div>
  </div>

</div>
