<header *ngIf="isUserLogged" class="auth-header">
  <nav class="navbar navbar-expand-md navbar-light">
    <a class="navbar-brand" routerLink="/">
      <img class="header-brand-logo" src="../../../../assets/images/logo/logo.svg" alt="Logo Joobilix">
      <span class="header-name-brand">Joobilix</span>
    </a>

    <ul class="navbar-nav ml-auto">
      <li ngbDropdown placement="bottom-right" class="nav-item">
        <a class="nav-link user-img-wrapper" id="dropdownBasic1" ngbDropdownToggle>
          <img class="header-user-img" [src]="profile.logoUrl">
        </a>
        <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <span class="dropdown-item user-name">{{profile.firstName}} {{profile.lastName}}</span>
          <a class="dropdown-item" href="javascript:;" (click)="editProfile()">Edit profile</a>
          <a class="dropdown-item" href="javascript:;" routerLink="/terms-of-use">Terms of use</a>
          <a class="dropdown-item" href="javascript:;" routerLink="/privacy-policy">Privacy policy</a>
          <a class="dropdown-item" href="javascript:;" (click)="signOut()">Sign out</a>
        </div>
      </li>
    </ul>
  </nav>
</header>

<header *ngIf="!isUserLogged" class="non-auth-header">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">
      <img src="../../../../assets/images/logo/logo.svg" width="30" height="30" class="company-logo d-inline-block" alt="Joobilix"> Joobilix
    </a>
    <button (click)="isCollapsed = !isCollapsed" class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a [ngx-scroll-to]="'#benefits'"  class="nav-link" href="javascript:;">How It Works
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a [ngx-scroll-to]="'#successStroiesSection'" class="nav-link" href="javascript:;">Success stories</a>
        </li>
        <li class="nav-item">
          <a (click)="hostEventModal.openModal()" class="nav-link" href="javascript:;">Host your event</a>
        </li>
      </ul>
      <button (click)="loginModal.openModal()" class="btn btn-outline-success my-2 my-sm-0 login-btn" type="button">Login</button>
    </div>
  </nav>
  <login-modal #loginModal></login-modal>
</header>

<host-event-modal #hostEventModal></host-event-modal>
