.navbar {
  z-index: 50;
}

.auth-header {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: white;

  .navbar-brand {
    .header-brand-logo {
      max-height: 52px;
    }

    .header-name-brand {
      vertical-align: middle;
      margin-left: 8px;
      font-size: 28px;
      letter-spacing: 0.8px;
      color: #00214b;
      font-family: HiraKakuStd-W8;
    }
  }

  .navbar-nav {
    .user-img-wrapper {
      cursor: pointer;
      &.dropdown-toggle{
        &:after{
          display: none !important;
        }
      }
    }

    .dropdown-menu {
      &.show{
        top: 65px !important;
        position: absolute;
        float: left;
      }

      .dropdown-item {
        font-family: HelveticaNeue;
        font-size: 18px;
        line-height: 1.5;
        letter-spacing: 0.7px;
        color: #4a4a4a;

        &.user-name {
          color: #00214b;
          font-size: 22px;
        }

        &:hover, &:focus{
          color: #00214b;
          background-color: inherit;
        }
      }
    }
  }

  .user-img-wrapper{
    padding-top: 0;
    padding-bottom: 0;

    .header-user-img {
      display: inline-block;
      width: 54px;
      height: 54px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
  }
}

.non-auth-header {
  .navbar {
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    padding: 10px 0;

    .navbar-toggler {
      margin-right: 20px;
    }

    .navbar-brand {
      font-family: HiraKakuStd-W8;
      font-size: 28px;
      letter-spacing: 0.8px;
      color: #00214b;

      .company-logo {
        margin-left: 20px;
        width: 61px;
        height: 53px;
      }
    }

    .collapse {
      background-color: #fff;

      &.navbar-collapse {
        &.show {
          padding: 15px 0;
        }

        .navbar-nav {
          .nav-item {
            margin-left: 20px;
            .nav-link {
              font-family: HiraKakuPro-W3;
              font-size: 16px;
              letter-spacing: 0.5px;
              color: #00214b;
            }
          }
        }
      }

      .login-btn {
        margin: 0 20px;
        color: #fff;
        border: none;
        width: 111px;
        height: 40px;
        border-radius: 23.5px;
        background-image: linear-gradient(to left, #004582, #00214b);
        box-shadow: 0 2px 8px 0 rgba(116, 115, 115, 0.24);
      }
    }
  }
}
