.modal-dialog {
  margin-top: 140px;

  &.modal-lg {
    .modal-content {
      max-width: 600px;
      margin: 0 auto;
    }
  }
}

.close {
  margin-top: 5px;
  margin-right: 15px;
}

.add-contact-modal {
  padding: 0 90px 22px 90px;
  font-family: HelveticaNeue;
  font-stretch: normal;

  .modal-title {
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #00214b;
  }

  .modal-description {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
  }

  .modal-description_small {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
  }

  .form-control {
    height: 40px;
    border-radius: 2px;
    background-color: #f9f9f9;
    opacity: 0.82;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #4a4a4a;

    &:not(.is-invalid) {
      border: solid 1px #979797;
    }
  }

  .btn-cancel {
    border: none;
    width: 100%;
    max-width: 170px;
    height: 36px;
    border-radius: 6px;
    background-color: #fff;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #00214b;
  }

  .btn-invite {
    border: none;
    width: 100%;
    max-width: 170px;
    height: 36px;
    border-radius: 6px;
    background-color: #fffe00;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #050505;
  }

  .errors {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #dc3545;
    margin-bottom: 10px;
  }

}
