<ng-template #content let-c="close" let-d="dismiss">

  <div>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body add-contact-modal">

    <h2 class="modal-title">Invite the recruiting manager</h2>

    <p class="modal-description mt-2">
      Give your colleague the screening option too!
    </p>

    <p class="modal-description_small">
      (Please be aware - this colleague will get full access to the platform)
    </p>

    <form class="mt-3" #addContactForm="ngForm" (submit)="onSubmit(addContactForm)" novalidate>

      <div class="form-group">
        <input #email="ngModel" name="email" [(ngModel)]="inviteColleagueModel.emailAddress" type="text" class="form-control" [ngClass]="{ 'is-invalid': email?.invalid && email.dirty }"
               placeholder="Email address"
               email
               required>

        <div *ngIf="email?.errors?.required && email.dirty" class="invalid-feedback">
          Email is required.
        </div>
        <div *ngIf="email?.errors?.email && email.dirty" class="invalid-feedback">
          Email is invalid.
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <input #firstName="ngModel" name="firstName" [(ngModel)]="inviteColleagueModel.firstName" type="text" class="form-control" [ngClass]="{ 'is-invalid': firstName?.errors?.required && firstName.dirty }"
                 placeholder="First name" required>

          <div *ngIf="firstName?.errors?.required && firstName.dirty" class="invalid-feedback">
            First name is required.
          </div>
        </div>
        <div class="form-group col-md-6">
          <input #lastName="ngModel" name="lastName" [(ngModel)]="inviteColleagueModel.lastName" type="text" class="form-control" [ngClass]="{ 'is-invalid': lastName?.errors?.required && lastName.dirty }"
                 placeholder="Last name" required>

          <div *ngIf="lastName?.errors?.required && lastName.dirty" class="invalid-feedback">
            Last name is required.
          </div>
        </div>
      </div>

      <div *ngIf="addContactForm.invalid && submitted" class="errors">
        Oops! One or more of required fields are missing. Please check.
      </div>

      <div *ngIf="errorCode === 1" class="errors">
        This user already has a Joobilix account
      </div>

      <div *ngIf="errorCode === 2" class="errors">
        Couldn't invite the user. Please contact the support center.
      </div>

      <div class="text-center">
        <button (click)="closeModal()" class="btn btn-primary btn-cancel" type="button">Cancel</button>
        <button class="btn btn-primary btn-invite" type="submit">Invite</button>
      </div>

    </form>

  </div>

</ng-template>
