<div class="candidate-header">
  <div class="row">
    <div class="col-auto">
      <img class="candidate-header__img" [src]="profilePictureUrl()">
    </div>
    <div class="order-sm-2 order-3 col-sm">
      <h2 class="candidate-header__h2">
        {{fullName() | ellipsis }}
      </h2>
      <p class="candidate-header-interests__p" *ngIf="interests()">
        Interesting in {{interests()}}
      </p>
      <div class="candidate-applied-title" *ngIf="applies.length">Applied to:</div>
      <div class="candidate-positions">
        <p *ngFor="let apply of applies">{{apply}}</p>
      </div>
    </div>
    <div class="order-sm-3 order-2 col-auto">
      <button *ngIf="isShowMeetBtn"
              [disabled]="isInvited"
              [ngClass]="{
                      'card__btn_invited': isInvited,
                      'card__btn_card__btn_sheduled': isScheduled
                    }"
              class="btn btn-primary candidate-header__btn-meet"
              type="button"
              (click)="scheduleOrInvite()">
        {{getButtonText()}}
      </button>
      <a *ngIf="!isFullProfile" [href]="'/company/candidate/'+candidateDetails.id+'?eventId='+eventId" target="_blank"
         class="btn btn-primary candidate-header__btn-cv mt-2" type="button">Show CV</a>
      <button *ngIf="isFullProfile" class="btn btn-primary candidate-header__btn-share mt-2">Share</button>
    </div>
  </div>
</div>
