.candidate-header {
  background-image: linear-gradient(to bottom, #002d55, #00214b);
  color: #fff;
  padding: 10px 20px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;

  .candidate-header__img {
    height: auto;
    width: 100%;
    max-width: 120px;
    background-color: #d8d8d8;
    border: solid 1px #979797;
    border-radius: 70px;
  }

  .candidate-header__h2 {
    font-size: 26px;
    font-weight: 500;
  }

  .candidate-header-interests__p {
    font-size: 20px;
    font-weight: normal;
  }

  .candidate-applied-title {
    display: inline-block;
    float: left;
    font-size: 20px;
    font-weight: normal;
    margin-right: 15px;
  }

  .candidate-positions {
    display: inline-block;
    font-size: 16px;
  }

  .btn {
    width: 100%;
    max-width: 126px;
    height: 36px;
    border-radius: 6px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    font-size: 16px;
    display: block;
    float: right;
    clear: right;
  }

  .candidate-header__btn-meet {
    background-color: #fffe00;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
    color: #050505;
    border: none;
  }

  .candidate-header__btn-cv, .candidate-header__btn-share {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
    background-color: #ffffff;
    border: solid 1px #00214b;
    color: #00214b;
    -webkit-appearance: button-bevel;
  }

}
