.wrapper {
  padding-right: 16px;
  //display: flex;
  width: 100%;
  //align-items: stretch;
  //overflow: hidden;
  position: relative;
  min-height: 100vh;

  .host-side-bar-wrapper {
    position: absolute;
    min-height: 100%;

    .side-bar-menu {
      .companies-item {
        &:before {
          content: 'account_balance';
        }
      }
    }
  }

  .host-content {
    margin-left: 215px;
    padding: 18px 20px
  }
}
