<div class="wrapper">
  <nav class="host-side-bar-wrapper jblx-side-bar">
    <ul class="side-bar-menu list-unstyled ">
      <li routerLinkActive="active" class="profile-item ff-gi-before">
        <a routerLink="/host/profile">Profile</a>
      </li>
      <li (click)="isEventMenuCollapsed = !isEventMenuCollapsed" [ngClass]="{'active': !isEventMenuCollapsed}" class="event-item ff-gi-before">
        <a>Events</a>
      </li>
      <ul class="events-menu list-unstyled" *ngIf="!isEventMenuCollapsed">
        <li class="add-new-event-item ff-gi-before">
          <a [routerLink]="['/host/event']">Add new event</a>
        </li>
        <li routerLinkActive="active" *ngFor="let event of eventMenuItems">
          <a [routerLink]="['/host/event', event.id]">
            <span jblx-expired-date [time]="event.when" expiredClass="past">{{event.title}}</span>
            <span *ngIf="event.eventStatus === eventStatus.new" class="sup-label-new">New</span>
          </a>
        </li>
      </ul>
      <li routerLinkActive="active" class="companies-item ff-gi-before">
        <a routerLink="/host/companies">Companies</a>
      </li>
    </ul>
  </nav>
  <section class="host-content">
    <router-outlet></router-outlet>
  </section>
</div>
