<div class="positions-list">

  <button (click)="addPosition()" type="button" class="btn btn-primary positions-list__btn">Add position</button>

  <div class="positions-list__container">
    <div *ngIf="!positions">
      <p class="positions-list__container__p">It’s super empty here!</p>
      <p class="positions-list__container__p">Don’t you want to tell the candidates about the awesome positions you offer?!</p>
    </div>

    <jblx-positions-table #positionsTable [data]="positions" *ngIf="positions"></jblx-positions-table>
  </div>
</div>

<jblx-add-position-modal #positionModal></jblx-add-position-modal>
<jblx-side-modal #sideModal>
  <jblx-position-details [positionDetails]="selectedPosition"></jblx-position-details>
</jblx-side-modal>
