.positions-list {
  padding: 20px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  font-family: HelveticaNeue;

  .positions-list__btn {
    width: 100%;
    border: none;
    max-width: 170px;
    height: 36px;
    border-radius: 6px;
    background-color: #fffe00;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #050505;
  }

  .positions-list__container {
    margin-top: 15px;

    .positions-list__container__p {
      font-size: 18px;
      font-weight: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #00214b;
    }
  }



}
