.main-footer {
  background-color: white;

  .menu-footer {
    height: 50px;
    padding: 5px;

    li:not(:first-child):before {
      content: " | ";
    }
  }

  .m-menu-footer {
    padding: 10px;
  }

  ul {
    margin-bottom: 0;
  }

  a {
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.7px;
    color: #4a4a4a;

    &:hover {
      text-decoration: none;
      color: #00214b;
    }
  }
}
