<footer class="main-footer">
  <ul class="d-none menu-footer list-inline text-center d-md-flex justify-content-center align-items-center">
    <li class="list-inline-item"><a href="tel:+972524557114">{{tel}}</a></li>
    <li class="list-inline-item"><a href="mailto:hello@joobilix.com?subject=Hey Joobilix!">{{email}}</a></li>
    <li class="list-inline-item"><a href="javascript:;" routerLink="/terms-of-use">{{termsOfUseLabel}}</a></li>
    <li class="list-inline-item"><a href="javascript:;" routerLink="/privacy-policy">{{privacyPolicyLabel}}</a></li>
    <li class="list-inline-item"><a href="#">{{aboutLabel}}</a></li>
  </ul>

  <ul class="m-menu-footer d-md-none text-center list-unstyled">
    <li><a href="tel:+972524557114">{{tel}}</a></li>
    <li><a href="mailto:hello@joobilix.com?subject=Hey Joobilix!">{{email}}</a></li>
    <li><a href="javascript:;" routerLink="/terms-of-use">{{termsOfUseLabel}}</a></li>
    <li><a href="javascript:;" routerLink="/privacy-policy">{{privacyPolicyLabel}}</a></li>
    <li><a href="#">{{aboutLabel}}</a></li>
  </ul>
</footer>
