<div class="company-details" *ngIf="companyDetails">

  <div class="layout-header">
    <div class="row no-gutters company-details-header">
      <div class="col">
        <h1 *ngIf="companyDetails.name">{{companyDetails.name | ellipsis: 40}}</h1>
        <div class="empty-company" *ngIf="!companyDetails.description">This company haven't created their profile yet.</div>
        <div class="company-details-info accent" *ngIf="companyDetails.oneLiner">
          {{companyDetails.oneLiner | ellipsis: 100}}
        </div>
      </div>
      <div class="col company-details-logo">
        <img [src]="companyDetails.logoUrl">
      </div>
    </div>
  </div>
  <div class="layout-main">
    <div class="layout-cell">
      <div class="layout-content-cell">
        <div class="info-section">
          <ul class="company-details-info-parts list-unstyled">
            <li>
          <span class="company-details-label">
            Size
          </span>
            <span class="company-details-info desc">
            {{companyDetails.size | companySize}}
          </span>
            </li>
            <li>
          <span class="company-details-label">
            Industry
          </span>
              <span class="company-details-info desc">
        {{companyDetails.industry1}}
        <span *ngIf="companyDetails.industry1 && companyDetails.industry2">,</span>
        {{companyDetails.industry2}}
          </span>
            </li>
            <li>
          <span class="company-details-label">
            Description
          </span>
              <div class="company-details-info about" *ngIf="companyDetails.description">
                {{companyDetails.description | ellipsis: 500}}
              </div>
            </li>
          </ul>

        </div>

        <div *ngIf="isEventCompany">
          <h3>Open positions</h3>
          <ul class="company-details-positions list-unstyled">
            <li class="company-details-info accent" *ngFor="let position of companyDetails.positions">
              {{position}}
            </li>
          </ul>
        </div>

        <div>
          <h3>Contact details</h3>
          <ul class="company-details-contacts list-unstyled" *ngFor="let contact of companyDetails.contactDetailses">
            <li class="company-details-info accent">
              {{contact.fullName}}
            </li>
            <li class="company-details-info">
              {{contact.phoneNumber}}
            </li>
            <li class="company-details-info">
              {{contact.emailAddress}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
