.company-details {
  display: table;
  height: 100%;
  width: 100%;

  .layout-header, .layout-main {
    display: table-row;
  }

  .layout-header {
    height: 1%;
  }

  .layout-cell {
    display: table-cell;
  }

  .layout-content-cell {
    height: 100%;
    overflow-y: auto;

    h3 {
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #00214b;
    }
  }

  .info-section {
    margin-bottom: 16px;

    .company-details-info-parts {
      li {
        margin-bottom: 5px;
        .company-details-label {
          margin-right: 8px;
        }
      }
    }
  }

  .company-details-info {
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #4a4a4a;
    line-height: 1.5;
    letter-spacing: normal;
    font-size: 16px;

    &.desc {
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #4a4a4a;
    }

    &.about {
      font-size: 14px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #4a4a4a;
    }
  }

  .accent {
    font-size: 18px;
    color: #00214b;
  }

  .company-details-label {
    opacity: 0.82;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #00214b;
  }

  .company-details-header {
    h1 {
      font-size: 30px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #00214b;
    }

    .company-details-info {
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #00214b;
    }

    .company-details-logo {
      max-width: 117px;
      padding: 5px;

      img {
        max-width: 111px;
        max-height: 111px;
      }
    }

    .empty-company {
      width: 286px;
      height: 54px;
      font-family: HelveticaNeue;
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #a00000;
      margin-bottom: 10px;
    }
  }

  .company-details-contacts{
    li {
      margin-bottom: 6px;

      &.company-details-info, &.company-details-positions {
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #4a4a4a;

        &.accent {
          font-size: 16px;
          font-weight: normal;
          color: #00214b;
        }
      }
    }
  }
}
