<ng-template #content let-c="close" let-d="dismiss">

  <div>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body decline-event-modal">

    <h2 class="modal-title">Can we please tell us why?</h2>

    <p class="modal-description mt-2">
      We wish to invite you only to relevant events.
    </p>

    <p class="modal-description">
      Help us improve by telling us why you decided not to take part
    </p>

    <form class="mt-3" #declineInvitetionForm="ngForm" (submit)="onSubmit()" novalidate>

      <div class="form-group">
        <textarea #email="ngModel" name="email" [(ngModel)]="reason" type="text" class="form-control"
               placeholder="I didn’t join the event because..." rows="5">

        </textarea>
      </div>

      <div class="text-center">
        <button (click)="d('Cross click')" class="btn btn-primary btn-cancel" type="button">Cancel</button>
        <button class="btn btn-primary btn-invite" type="submit">Send</button>
      </div>

    </form>

  </div>

</ng-template>
