.event-new-invitation {
  .main-title {
    font-size: 30px;
    font-weight: 500;
    color: #00214b;
  }

  .main-subtitle {
    font-size: 22px;
    line-height: 1.59;
    color: #4a4a4a;

    .event-name {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.46;
    }
  }

  .info-block {
    margin-top: 10px;

    .title {
      font-size: 22px;
      color: #00214b;
    }

    .description {
      font-size: 18px;
      color: #4a4a4a;
    }
  }

  .jblx-btn {
    width: 170px;
    height: 36px;
    border-radius: 6px;
    box-shadow: 0 2px 2px 0;
    border-color: transparent;
  }
}
