<div class="event-new-invitation" *ngIf="eventModel">
  <div class="main-title">
    <p>Woohoo!</p>
    <p>You’ve been invited to new event!</p>
  </div>
  <p class="main-subtitle">
    HostName from InstituteName invited you to take part in the
    <br>
    <span class="event-name">{{eventModel.name}}</span>
  </p>
  <div class="info-block">
    <p class="title">When:</p>
    <p class="description">{{eventModel.when | date:'dd MMMM, yyyy'}}</p>
  </div>
  <div class="info-block">
    <p class="title">Where:</p>
    <p class="description">{{locationFormatter()}}</p>
  </div>
  <div class="info-block">
    <p class="title">About the event:</p>
    <p class="description">
      {{eventModel.description}}
    </p>
  </div>
  <div class="info-block">
    <p class="title">If you need more info, please contact the host:</p>
    <p class="description">
      Name: HostName
      <br>
      Email: HostMail
    </p>
  </div>
  <div class="footer mt-3">
    <div class="row justify-content-end">
      <div class="col-sm-auto col-12">
        <button class="jblx-btn btn-grey" (click)="declineInvitation.show()">Decline</button>
      </div>
      <div class="col-sm-auto col-12">
        <button class="jblx-btn btn-yellow" (click)="confirmInvitation()">I'm In!</button>
      </div>
    </div>
  </div>
</div>

<jblx-decline-invitation #declineInvitation [eventId]="eventId" (declined)="onDeclined()"></jblx-decline-invitation>
