<div class="position">

  <h2 class="position__h2">I’m looking for a superstar in the field of:</h2>

  <div class="row">
    <div class="col-md-9">

      <button *ngFor="let field of organizationService.getFields()"
              (click)="createPositionModel.field = field"
              [ngClass]="{'active': createPositionModel.field == field}"
              type="button" class="btn btn-primary field-btn">
        {{ field }}
      </button>

    </div>
  </div>

  <div [hidden]="string.isNullOrEmpty(createPositionModel.field)" class="row">
    <div class="col-md-11">
      <form class="position__form" #positionForm="ngForm" (submit)="onSubmit()">

        <div class="form-row">
          <div class="form-group col-md-5">
            <label for="positionTitle" class="position__label">Position title *</label>
            <input type="text" class="form-control" id="positionTitle"
                   [ngClass]="{ 'is-invalid': positionTitle?.errors?.required && positionTitle.dirty }"
                   name="positionTitle"
                   #positionTitle="ngModel"
                   [(ngModel)]="createPositionModel.title"
                   required
                   maxlength="60">

            <div *ngIf="positionTitle?.errors?.required && positionTitle.dirty" class="invalid-feedback">
              Oops.. That’s an invalid field
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-3 col-sm-12">
            <label class="position__label">Type *</label>
            <select type="text" class="form-control"
                    [ngClass]="{ 'is-invalid': employmentType?.errors?.required && employmentType.dirty }"
                    name="employmentType"
                    #employmentType="ngModel"
                    [(ngModel)]="createPositionModel.employmentType"
                    required>
              <option [ngValue]="undefined" disabled>Please, select ...</option>
              <option *ngFor="let employmentType of employmentTypes" [ngValue]="employmentType.id">{{ employmentType.text }}</option>
            </select>

            <div *ngIf="employmentType?.errors?.required && employmentType.dirty" class="invalid-feedback">
              Oops.. That’s an invalid field
            </div>

          </div>
        </div>

        <div class="form-row">
          <div class="col-md-11">
            <label class="position__label" for="description">Description</label>
            <textarea placeholder="Up to 500 characters" class="form-control company-textarea" id="description"
                      [ngClass]="{ 'is-invalid': description?.errors?.required && description.dirty }"
                      name="description"
                      #description="ngModel"
                      [(ngModel)]="createPositionModel.description"
                      maxlength="500"
                      rows="4">
            </textarea>

          </div>
        </div>

        <div class="form-row mt-2">
          <div class="col-md-11">
            <label class="position__label" for="qualifications">Qualifications</label>
            <textarea placeholder="Up to 500 characters" class="form-control company-textarea" id="qualifications"
                      [ngClass]="{ 'is-invalid': qualifications?.errors?.required && qualifications.dirty }"
                      name="qualifications"
                      #qualifications="ngModel"
                      [(ngModel)]="createPositionModel.qualifications"
                      maxlength="500"
                      rows="4">

            </textarea>

          </div>
        </div>

        <div class="form-row mt-2">
          <div class="col-md-11">
            <label class="position__label" for="companyDescription">Responsibilities</label>
            <textarea placeholder="Up to 500 characters" class="form-control company-textarea" id="companyDescription"
                      [ngClass]="{ 'is-invalid': responsibilities?.errors?.required && responsibilities.dirty }"
                      name="responsibilities"
                      #responsibilities="ngModel"
                      [(ngModel)]="createPositionModel.responsibilitis"
                      maxlength="500"
                      rows="4">

            </textarea>

          </div>
        </div>

        <div class="form-row mt-2">
          <div class="form-group col-md-7 col-sm-12">
            <label class="position__label">Location *</label>
            <ng4geo-autocomplete [userSettings]="userSettings"
                                 (componentCallback)="autoCompleteCallback($event)"></ng4geo-autocomplete>

            <div *ngIf="locationInvalid" [ngStyle]="{'display': locationInvalid ? 'block': 'none'}" class="invalid-feedback">
              Oops… You forgot to add location
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-7 col-sm-6">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="disabilities"
                     [ngClass]="{ 'is-invalid': disabilities?.errors?.required && disabilities.dirty }"
                     name="disabilities"
                     #disabilities="ngModel"
                     [(ngModel)]="createPositionModel.disabilities">
              <label class="custom-control-label" for="disabilities">
                This position is relevant for candidates with physical disabilities
              </label>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-12">
            <button [disabled]="submitted && positionForm.invalid" class="btn btn-primary float-right position__btn" type="submit">Save</button>
          </div>
        </div>

      </form>
    </div>
  </div>

</div>

<jblx-add-contact-modal [redirectAfterSave]="true" #addContactModal></jblx-add-contact-modal>
