.position {
  padding: 20px 30px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  font-family: HelveticaNeue;

  .position__h2 {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: normal;
    color: #00214b;
  }

  .position__form {
    margin-top: 15px;

    .position__label {
      font-size: 16px;
      font-weight: normal;
      line-height: 1.25;
      letter-spacing: normal;
      color: #00214b;
    }

    .form-control {
      border-radius: 2px;
      background-color: #f9f9f9;
      color: #4a4a4a;

      &:not(.is-invalid) {
        border: solid 1px #979797;
      }
    }

    .custom-control-label:before {
      border-radius: 0;
      border: solid 1px #979797;
    }
  }

  .field-btn {
    margin: 5px 10px 5px 0;
    min-height: 37px;
    border-radius: 8px;
    background-color: #ffffff;
    border: solid 1px #00214b;

    font-size: 14px;
    font-weight: normal;
    line-height: 1.04;
    letter-spacing: normal;
    text-align: center;
    color: #00214b;

    &.active {
      background-color: #00214b;
      color: #ffffff;
    }
  }



  .position__btn {
    width: 100%;
    border: none;
    max-width: 170px;
    height: 36px;
    border-radius: 6px;
    background-color: #fffe00;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #050505;
  }

}
