<div class="jbrx form-group" [ngClass]="classBase">
  <div [ngClass]="classControlWrapper">
    <label class="jbrx-form-label" [attr.for]="id" *ngIf="label" [ngClass]="labelClass">
      {{ label }}
    </label>
    <input [maxlength]="textLength"
           [textMask]="mask"
           *ngIf="!previewEnabled"
           [name]="name"
           [(ngModel)]="value"
           class="form-control jbrx-input"
           [ngClass]="classInput"
           [placeholder]="placeholder"
           [type]="type"
           [attr.id]="id"
           [readonly]="isReadOnly"/>
  </div>

  <span class="jbrx-control-error" [ngClass]="classControlError"><ng-content></ng-content></span>

  <div [ngClass]="classViewWrapper">
    <p class="preview" *ngIf="previewEnabled">
      {{value}}
    </p>
  </div>
</div>
