<div class="candidate-full-profile row no-gutters" *ngIf="candidateDetails && event">
  <div class="candidate-info col">
    <jblx-candidate-main-info [candidateDetails]="candidateDetails"
                              [eventId]="eventId"
                              [isFullProfile]="true"
                              [currentEventType]="event.eventType"></jblx-candidate-main-info>
    <jblx-candidate-info [candidateDetails]="candidateDetails"></jblx-candidate-info>
    <jblx-candidate-recruitment-widget [candidateDetails]="candidateDetails"></jblx-candidate-recruitment-widget>
  </div>
  <div class="candidate-cv p-3 col-lg-6 hidden-md-down" *ngIf="candidateDetails.hasCV && candidateCv && !coreService.isMobileUserAgent()">
    <img *ngIf="!candidateCv.isPdf" [src]="candidateCv.cvUrl" width="100%" height="auto" />

    <object *ngIf="candidateCv.isPdf" [data]="sanitizer.bypassSecurityTrustResourceUrl(candidateCv.cvUrl)" type="application/pdf" width="100%" height="100%">
      <p>This browser does not support PDFs. Please download the PDF to view it:
        <a [href]="candidateCv.cvUrl">Download PDF</a>.</p>
    </object>
  </div>
</div>
