.modal-dialog {
    margin-top: 105px;

    &.modal-lg {
        .modal-content {
            max-width: 660px ;
            margin: 0 auto;
        }
    }
}

.login-modal {
    padding: 28px 94px 16px 94px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    font-family: HelveticaNeue;

    .modal-title {
        font-size: 28px;
        font-weight: 500;
        text-align: center;
        color: #00214b;
        margin-bottom: 14px;
    }

    .form-control {
        max-width: 472px;
        height: 44px;
        border-radius: 6px;
        background-color: #f9f9f9;
        border: solid 1px #979797;
        opacity: 0.82;
        color: #4a4a4a;
        line-height: 1.5;
        letter-spacing: 0.6px;
        font-size: 16px;
        font-weight: 300;
    }

    .login-btn {
        width: 170px;
        height: 44px;
        border-radius: 6px;
        background-color: #fffe00;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.14);
        color: #050505;
        font-size: 18px;
        font-weight: 500;
        outline: none;
        border: none;
        display: block;
        margin: 0 auto;
    }

    .forgot-password-link {
        display: block;
        margin-top: 15px;
        opacity: 0.82;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.6px;
        color: #00214b;
        text-align: center;
    }
}
