.create-event {
  font-family: HelveticaNeue;
  font-style: normal;
  font-stretch: normal;

  .create-event-title {
    font-size: 36px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: normal;
    color: #00214b;
  }

  .create-event-description {
    max-width: 767px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.6px;
    color: #4a4a4a;
    margin-bottom: 10px;

    &.saved {
      margin-bottom: 0;
    }
  }

  .btn {
    height: 45px;
    width: 161px;
    border-radius: 6px;
    background-color: #fffe00;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.14);

    &.back-to-profile {
      margin-top: 70px;
    }
  }

  .create-event__input {
    height: 44px;
    border-radius: 6px;
    background-color: #f9f9f9;
    border: solid 1px #979797;
  }

  .has-error {
    opacity: 0.82;
    font-size: 14px;

    line-height: 1.71;
    letter-spacing: 0.5px;
    color: #a00000;
  }

}
