<div class="create-event">
  <h2 class="create-event-title">{{ !eventSaved ? 'Create new event' : createEventRequest.name + ' will be ready soon!' }}</h2>
  <p *ngIf="!eventSaved" class="create-event-description">
    Congrats! We are so happy you help your candidates find more career opportunities!
    Please fill the details of the new event
  </p>
  <ng-container *ngIf="eventSaved">
    <p class="create-event-description saved">Great!</p>
    <p class="create-event-description saved">We have all the details we need to create your event.</p>
    <p class="create-event-description saved">As soon as the event will be ready, you will see it on the menu as “New”!</p>
  </ng-container>
  <form [hidden]="eventSaved" #createEventForm="ngForm" (submit)="onSubmit()">
    <div class="form-group row">
      <div class="col-sm-4">
        <input type="text" class="form-control create-event__input" id="eventName"
               placeholder="Event's name"
               name="eventName"
               [(ngModel)]="createEventRequest.name"
               #eventName="ngModel"
               maxlength="40"
               required>
      </div>
      <div *ngIf="eventName?.invalid && eventName?.dirty" class="col-sm-5">
        <span *ngIf="eventName?.errors?.required" class="has-error">Oops.. That’s an invalid event name</span>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-4">
        <input class="form-control create-event__input" placeholder="Date"
               ngx-mydatepicker
               name="date"
               #date="ngModel"
               (click)="dp.toggleCalendar()"
               [(ngModel)]="dateData"
               [options]="myOptions"
               #dp="ngx-mydatepicker"
               required/>
      </div>
      <div *ngIf="(date?.invalid || !ngxdp.isDateValid()) && date?.dirty" class="col-sm-5">
        <span class="has-error">Oops.. That’s an invalid date</span>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-2">
        <input type="text" class="form-control create-event__input"
               placeholder="From"
               name="fromDate"
               [(ngModel)]="startDateData"
               #fromDate="ngModel"
               [textMask]="hoursAndMinutesMask"
               minutesHoursValidator
               required>
      </div>

      <div class="col-sm-2">
        <input type="text" class="form-control create-event__input"
               placeholder="To"
               name="toDate"
               [(ngModel)]="endDateData"
               #toDate="ngModel"
               [textMask]="hoursAndMinutesMask"
               minutesHoursValidator
               required>
      </div>

      <div *ngIf="(fromDate?.invalid && fromDate?.dirty) || (toDate?.invalid && toDate?.dirty)" class="col-sm-5">
        <span class="has-error">Oops.. That’s an invalid start/end time</span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 offset-md-3">
        <button type="submit" class="btn float-right">Submit</button>
      </div>
    </div>

  </form>

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <button [routerLink]="['/host/profile']" *ngIf="eventSaved" type="button" class="btn back-to-profile float-right">Back to profile</button>
    </div>
  </div>


</div>
