<ng-template #content let-c="close" let-d="dismiss">

  <div>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body add-position-modal">



    <h2 class="modal-title">Add position to the event</h2>

    <select type="text" class="form-control mt-3"
            name="position"
            #position="ngModel"
            [(ngModel)]="selectedPosition"
            required>
      <option [ngValue]="undefined" disabled>Please, select ...</option>
      <option *ngFor="let position of positions" [ngValue]="position">{{ position.title }}</option>
    </select>

    <button (click)="choose()" type="submit" class="btn btn-primary mt-3 add-position-modal__btn-choose">Choose</button>

    <div class="mt-2 mb-2 d-flex justify-content-center">
      <span class="add-position-modal__span"></span>
      Or
      <span class="add-position-modal__span"></span>
    </div>

    <button (click)="createPosition()" type="submit" class="btn btn-primary add-position-modal__btn">Create new position</button>

  </div>

</ng-template>
