.modal-dialog {
  margin-top: 140px;

  &.modal-lg {
    .modal-content {
      max-width: 600px;
      margin: 0 auto;
    }
  }
}

.close {
  margin-top: 5px;
  margin-right: 15px;
}

.add-position-modal {
  padding: 0 30px 35px;
  font-family: HelveticaNeue;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  text-align: center;

  .modal-title {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: normal;
    color: #00214b;
  }

  .form-control {
    border-radius: 2px;
    background-color: #f9f9f9;
    border: solid 1px #979797;
    color: #4a4a4a;
    max-width: 320px;
    margin: 0 auto;
  }

  .add-position-modal__span {
    display: inline-block;
    border-top: solid 1px #979797;
    width: 100%;
    margin-top: 10px;

    &:first-child {
      margin-right: 10px;
    }

    &:last-child {
      margin-left: 10px;
    }
  }

  .add-position-modal__btn {
    width: 100%;
    border: none;
    max-width: 300px;
    height: 36px;
    border-radius: 6px;
    background-color: #fffe00;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);

    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.5px;
    color: #050505;
  }

  .add-position-modal__btn-choose {
    width: 100%;
    border: none;
    max-width: 170px;
    height: 36px;
    border-radius: 6px;
    background-color: #fffe00;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);

    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.5px;
    color: #050505;
  }

}
