.modal-dialog {
    margin-top: 105px;

    &.modal-lg {
        .modal-content {
            max-width: 700px;
            margin: 0 auto;
        }
    }
}

.host-event-modal {
    padding: 0 105px 38px 105px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    font-family: HelveticaNeue;

    .modal-title {
        text-align: center;
        color: #00214b;
        font-size: 28px;
        font-weight: bold;
        margin-top: 15px;
    }

    .modal-description {
        text-align: center;
        color: #4a4a4a;
        font-size: 20px;
        font-weight: normal;
        margin-bottom: 16px;

        &.registered {
            &.first {
                margin: 0;
                margin-top: 50px;
            }
        }

        &.registered {
            &.second {
                margin: 0;
                margin-bottom: 50px;
            }
        }
    }

    .form-control {
        border-radius: 6px;
        background-color: #f9f9f9;
        border: solid 1px #979797;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.69;
        letter-spacing: 0.6px;
        color: #4a4a4a;
        opacity: 0.82;
    }

    .go-btn {
        max-width: 170px;
        width: 100%;
        height: 44px;
        border-radius: 6px;
        background-color: #fffe00;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.14);
        border: none;
        display: block;
        margin: 0 auto;
        color: #050505;
        font-size: 18px;
        font-weight: 500;
        margin-top: 15px;
    }

    .errors {
        opacity: 0.82;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
        letter-spacing: 0.6px;
        text-align: center;
        color: #a00000;
    }

}