<div class="modal-body host-event-modal">

  <h2 class="modal-title">{{ registered ? 'Thank you!' : 'Get Joobilix' }}</h2>

  <p *ngIf="!registered" class="modal-description">
      Maximize your event’s potential!
  </p>

  <p *ngIf="registered" class="modal-description registered first">You are very important to us!</p>
  <p *ngIf="registered" class="modal-description registered second">We will contact you in the next 24 hours.</p>

  <form [hidden]="registered" #hostEventForm="ngForm" (submit)="onSubmit()" novalidate>

    <div class="form-row">
      <div class="form-group col-md-6">
        <input #firstName="ngModel" name="firstName" [(ngModel)]="hostEventRequest.firstName" type="text" class="form-control" [ngClass]="{ 'is-invalid': firstName?.errors?.required && firstName.dirty }"
          placeholder="First name" required>

        <div *ngIf="firstName?.errors?.required && firstName.dirty" class="invalid-feedback">
          First name is required.
        </div>
      </div>
      <div class="form-group col-md-6">
        <input #lastName="ngModel" name="lastName" [(ngModel)]="hostEventRequest.lastName" type="text" class="form-control" [ngClass]="{ 'is-invalid': lastName?.errors?.required && lastName.dirty }"
          placeholder="Last name" required>

        <div *ngIf="lastName?.errors?.required && lastName.dirty" class="invalid-feedback">
          Last name is required.
        </div>
      </div>
    </div>

    <div class="form-group">
      <input #phoneNumber="ngModel" name="phoneNumber" [(ngModel)]="hostEventRequest.phoneNumber" type="text" class="form-control"
        [textMask]="phoneTextMask"
        pattern="^[+][\d]{1,3}-[\d]{9,17}$"
      [ngClass]="{ 'is-invalid': phoneNumber?.invalid && phoneNumber.dirty }" placeholder="Phone number" required>

      <div *ngIf="phoneNumber?.errors?.required && phoneNumber.dirty" class="invalid-feedback">
        Phone number is required.
      </div>
      <div *ngIf="phoneNumber?.errors?.pattern && phoneNumber.dirty" class="invalid-feedback">
          Phone number is invalid.
        </div>
    </div>

    <div class="form-group">
      <input #email="ngModel" name="email" [(ngModel)]="hostEventRequest.emailAddress" type="text" class="form-control" [ngClass]="{ 'is-invalid': email?.invalid && email.dirty }"
        placeholder="Email address"
        email
        required>

      <div *ngIf="email?.errors?.required && email.dirty" class="invalid-feedback">
        Email is required.
      </div>
      <div *ngIf="email?.errors?.email && email.dirty" class="invalid-feedback">
          Email is invalid.
        </div>
    </div>

    <div class="form-group">
      <input #organizationName="ngModel" name="organizationName" [(ngModel)]="hostEventRequest.organization" [ngClass]="{ 'is-invalid': organizationName?.errors?.required && organizationName.dirty }"
        type="text" class="form-control" placeholder="Organization name" required>
      <div *ngIf="organizationName?.errors?.required && organizationName.dirty" class="invalid-feedback">
        Organization is required.
      </div>
    </div>

    <re-captcha
      [(ngModel)]="hostEventRequest.capchaSession"
      name="captcha"
      [siteKey]="captchaKey"
      #captcha="ngModel"
      required
    ></re-captcha>

    <button [disabled]="submitted && hostEventForm.invalid" type="submit" class="btn btn-primary go-btn">GO!</button>

    <div *ngIf="submitted && hostEventForm.invalid" class="errors">
        One or more of the fields are missing. Please check.
    </div>

  </form>

  <button (click)="closeModal()" *ngIf="registered" type="submit" class="btn btn-primary go-btn">Close</button>

</div>
