<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <p class="modal-title">
      Sure you want to remove this company?
    </p>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      You are about to remove {{companyName}} from this event.
      If the company already opened a profile and position, they will be deleted from this event.
    </p>
    <form novalidate (submit)="remove()">
      <input type="hidden" [(ngModel)]="model.companyId" name="companyId">
      <div class="form-group mt-5">
        <label for="reasonForRemove">You can add the reason for your next events:</label>
        <input class="form-control"
               [(ngModel)]="model.note"
               name="reason"
               id="reasonForRemove"
               placeholder="Add the reason here"
               autofocus>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="jblx-btn btn-modal btn-default" (click)="close()">Cancel</button>
    <button type="button" class="jblx-btn btn-modal btn-yellow" (click)="remove()">Remove</button>
  </div>
</ng-template>
