<jblx-loader></jblx-loader>
<div class="site-layout-container container-fluid pl-0 pr-0">
  <div class="site-layout-box d-flex flex-column">
    <div>
      <ngx-loading-bar [color]="'red'" [includeSpinner]="false"></ngx-loading-bar>
      <jblx-header-bar></jblx-header-bar>
    </div>
    <main class="flex-grow-1">
      <router-outlet></router-outlet>
    </main>
    <jblx-footer></jblx-footer>
  </div>
</div>
