<section class="companies-tab jblx-material">
  <h1>My companies list</h1>

  <div class="jblx-mat-table companies-list">
  <mat-form-field class="canceled-material">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <table mat-table matSort [dataSource]="companies" class="companies-table">

    <ng-container matColumnDef="companyLogo">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <img class="logo-company" [src]="element.logoUrl">
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Company name </th>
      <td mat-cell *matCellDef="let element"> {{element.name | ellipsis: 20}} </td>
    </ng-container>

    <ng-container matColumnDef="contactName">
      <th mat-header-cell *matHeaderCellDef> Contact name </th>
      <td mat-cell *matCellDef="let element"> {{element.contactDetailses.fullName}} </td>
    </ng-container>

    <ng-container matColumnDef="emailAddress">
      <th mat-header-cell *matHeaderCellDef> Contact email </th>
      <td mat-cell *matCellDef="let element"> {{element.contactDetailses.emailAddress}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="showCompanyDetails(row.id)"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="pageSize"></mat-paginator>
</div>
</section>

<jblx-side-modal #sideModal>
  <jblx-company-details [companyDetails]="selectedCompany"></jblx-company-details>
</jblx-side-modal>
