<div class="modal-header">
  <p class="modal-title">
    Forgot your password?
  </p>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #forgonPasswordForm="ngForm" (submit)="onSubmit(forgonPasswordForm)" novalidate>
    <div class="form-group">
      <label for="email">Enter your email address below and we'll get you back on track.</label>
      <input #email="ngModel"
             name="email"
             id="email"
             [(ngModel)]="model.emailAddress"
             type="text"
             class="form-control"
             [ngClass]="{ 'is-invalid': email?.errors?.required && email.dirty }"
             placeholder="Email address"
             autofocus
             required ngvemail>
    </div>
    <div *ngIf="email?.errors?.required && email.dirty" class="jbrx-control-error text-left">
      Email is required.
    </div>
    <div *ngIf="email?.errors?.email && email.dirty" class="jbrx-control-error text-left">
      Email is not valid
    </div>
    <div class="form-group text-center pt-2">
      <button type="submit" class="jblx-btn btn-modal btn-yellow reset-password-btn">
        Reset Password
      </button>
    </div>
    <div class="form-group">
      <re-captcha
        [(ngModel)]="model.capchaSession"
        name="captcha"
        #captcha="ngModel"
        siteKey="6LfgfmwUAAAAAJXzOLiNuvKvG1-ZEahuEzmreeLg"
        required
      ></re-captcha>
    </div>
  </form>

</div>
