.forgot-password-modal {

  .modal-header {
    .modal-title {
      font-size: 28px;
    }
  }

  .modal-body, modal-header {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .modal-body {
    label {
      font-size: 18px;
      color: #4a4a4a;
    }
  }
}
