@font-face {
  font-family: HelveticaNeue;
  src: url("HelveticaNeue.ttf") format('truetype');
}

@font-face {
  font-family: HelveticaNeue;
  font-weight: 500;
  src: local('Helvetica Neue Medium'), url('HelveticaNeueMedium.woff') format('woff');
}

@font-face {
  font-family: HelveticaNeue;
  font-style: normal;
  font-weight: 300;
  src: local('Helvetica 35 Thin'), url('HelveticaNeue-Thin.woff') format('woff');
}

@font-face {
  font-family: HelveticaNeue;
  font-weight: bold;
  src: url("HelveticaNeueBd.ttf") format('truetype');
}
