<div class="jbrx form-group">
  <label class="jbrx-form-label" [attr.for]="id" *ngIf="label">
    {{ label }}
  </label>
  <textarea indent
            *ngIf="!previewEnabled"
            [name]="name"
            [(ngModel)]="value"
            class="form-control jbrx-textarea"
            [attr.id]="id"
            [attr.rows]="cols"
            [placeholder]="placeholder"
            [readonly]="isReadOnly">
  </textarea>
  <div *ngIf="!previewEnabled" class="text-right">{{ value?.length + '/' + textLength}}</div>
  <span class="jbrx-control-error"><ng-content></ng-content></span>

  <pre class="preview" *ngIf="previewEnabled">{{value}}</pre>
</div>
