.event-companies {
  padding-top: 15px;

  .empty-open-position {
    color: #a00000;
  }

  .status-new, .status-invite-sent {
    color: #a7aa00;
  }

  .status-reg-completed {
    color: #246f00;
  }

  .status-failed-send {
    color: #a00000;
  }

  .status-deleted {
    color: #9b9b9b;
  }

  .delete-company-icon {
    &:hover {
      text-decoration: none;
    }

    &:before {
      content: 'delete_forever';
      font-size: 25px;
      color: #4a4a4a;
    }
  }

  .empty-message {
    font-size: 18px;
    line-height: 1.5;
    color: #00214b;
  }
}
