<section class="event-companies jblx-material">
  <div>
    <button type="button" class="jblx-btn btn-rectangel btn-shadow btn-yellow mr-3" (click)="addCompany.show()">
      Add Company
    </button>
    <button type="button" class="jblx-btn btn-rectangel btn-shadow btn-yellow" [disabled]="isNewEventEmpty" (click)="sendReminderShow()">
      Send a reminder
    </button>
  </div>

  <div class="empty-message mt-4" *ngIf="isNewEventEmpty">
    It’s quite empty here… Don’t you want to add any company?
  </div>

  <div class="jblx-mat-table companies-list" [class.d-none]="isNewEventEmpty">
    <mat-form-field class="canceled-material">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <table mat-table matSort [dataSource]="companies" class="companies-table">

      <ng-container matColumnDef="companyLogo">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <img class="logo-company" [src]="element.logoUrl">
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element" [class.status-deleted]="isCompanyDeleted(element.registrationStatus)">
          {{element.name | ellipsis: 20}}
        </td>
      </ng-container>

      <ng-container matColumnDef="numberOfPositions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Number of positions </th>
        <td mat-cell *matCellDef="let element"
            [class.empty-open-position]="element.numberOfPositions === 0"
            [class.status-deleted]="isCompanyDeleted(element.registrationStatus)">
          {{element.numberOfPositions}} Open positions
        </td>
      </ng-container>

      <ng-container matColumnDef="contactName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact name </th>
        <td mat-cell *matCellDef="let element" [class.status-deleted]="isCompanyDeleted(element.registrationStatus)">
          {{element.contactDetailses.fullName}}
        </td>
      </ng-container>

      <ng-container matColumnDef="registrationStatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let element">
          <span [ngClass]="getClassByRegStatus(element.registrationStatus)">
            {{element.registrationStatus | companyStatusRegister}}
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <a href="javascript:;" *ngIf="!isCompanyDeleted(element.registrationStatus)"
             (click)="removeEventCompany(element.companyId, element.name, $event)" class="ff-gi delete-company-icon"></a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="showCompanyDetails(row.companyId)">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="pageSize"></mat-paginator>
  </div>
</section>

<jblx-side-modal #sideModal>
  <jblx-company-details [companyDetails]="selectedCompany"></jblx-company-details>
</jblx-side-modal>
<jblx-remove-company-from-event (companyDeleted)="getAllCompanies()"
                                [eventId]="eventId"
                                #removeCompany></jblx-remove-company-from-event>
<jblx-add-event-company [eventId]="eventId" #addCompany (companyCreated)="getAllCompanies()"></jblx-add-event-company>
