.terms-of-use {

  ol.up-alpha {
    list-style-type: upper-latin;
  }

  ol.steps {
    counter-reset: item;
    li {
      display: block;
    }
    li:before {
      content: counters(item, ".") " ";
      counter-increment: item;
    }
  }

  padding: 30px 70px;
  color: #00214b;
  font-size: 20px;

  & > div {
    margin-top: 20px;
  }

  h1 {
    font-size: 28px;
    font-weight: normal;
  }

  h2 {
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 0;
  }

  h3 {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 0;
  }

  .section-label {
    font-weight: 600;
  }
}
