.position-description {
  .title {
    font-size: 20px;
    color: #00214b;
    padding-right: 10px;
  }

  .description {
    font-size: 16px;
    color: #4a4a4a;
  }

  .limited-height {
    max-height: 126px;
    overflow-y: auto;
  }
}
