<div class="position-description" *ngIf="positionDetails">
  <div class="row no-gutters">
    <div class="col-12">
      <h1>{{positionDetails.title}}</h1>
    </div>
  </div>
  <div class="row mb-4 mt-4 no-gutters">
    <div class="col-auto title align-self-baseline">
      Field:
    </div>
    <div class="col description align-self-baseline">
      {{positionDetails.field}}
    </div>
  </div>
  <div class="row mb-4 no-gutters">
    <div class="col-auto title align-self-baseline">
      Type:
    </div>
    <div class="col description align-self-baseline">
      {{positionDetails.industry}}
    </div>
  </div>
  <div class="row mb-3 pb-1 no-gutters">
    <div class="col-auto title align-self-baseline">
      Location:
    </div>
    <div class="col description align-self-baseline">
      {{positionDetails.location?.placeName}}
    </div>
  </div>
  <div class="row mb-3 pb-1 no-gutters">
    <div class="col">
      <p class="title">Description:</p>
      <p class="description limited-height">
        {{positionDetails.description}}
      </p>
    </div>
  </div>
  <div class="row mb-3 pb-1 no-gutters">
    <div class="col">
      <p class="title">Responsibilities:</p>
      <p class="description limited-height">
        {{positionDetails.responsibilitis}}
      </p>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col">
      <p class="title">Qualifications:</p>
      <p class="description limited-height">
        {{positionDetails.qualifications}}
      </p>
    </div>
  </div>
</div>
