.event-details {
  font-family: 'HelveticaNeue';
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;

  .event-title {
    display: inline;
    font-size: 30px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: normal;
    color: #00214b;
  }

  .event-details__btn {
    width: 100px;
    height: 40px;
    border-radius: 23.5px;
    box-shadow: 0 10px 30px 0 rgba(116, 115, 115, 0.24);
    border: solid 1px #00214b;
    background-color: #fff;

    &.save {
      color: #fff;
      background-image: linear-gradient(to left, #004582, #00214b);
      border: solid 1px var(--navy-blue);
    }
  }

  .nav-item .nav-link {
    font-size: 20px;
    line-height: normal;
    letter-spacing: 0.2px;
    color: #4a4a4a;
    text-shadow: 1px 0 3px rgba(94, 94, 94, 0.15);
    border-bottom: solid 1px #9b9b9b;

    &:hover {
      border: 1px solid white;
      border-bottom-color: #9b9b9b;
    }

    &.active {
      border: none;
      border-bottom: 3px solid #00214b;
      color: #00214b;
      text-shadow: 1px 0 3px rgba(94, 94, 94, 0.15);
      font-weight: 500;
      letter-spacing: 0.2px;
    }

  }

  .preview {
    margin: 2px 0 0 10px;
  }

}
