<div class="event-details">
  <div class="row">
    <div class="col-md-8">

      <input *ngIf="editEnabled" class="form-control event-title"
             name="eventName"
             [(ngModel)]="currentUpdateRequest.name"
             #eventName="ngModel"
             type="text"
             pattern="[0-9]{2}[-|\/]{1}[0-9]{2}[-|\/]{1}[0-9]{2}"
             required/>
      <p *ngIf="!editEnabled" class="event-title preview">{{ currentUpdateRequest?.name }}</p>

    </div>
    <div class="col-md-4" *ngIf="eventModel">
      <button *ngIf="getTabId(tabs?.activeId) == 3 && eventModel?.host" (click)="toggle(tabs)" [ngClass]="{'save' : editEnabled}" class="btn float-right event-details__btn" type="button">{{ editEnabled ? 'Save' : 'Edit' }}</button>
    </div>
  </div>

  <ngb-tabset (tabChange)="onSelectedTab($event)" *ngIf="eventModel" [activeId]="tabId" [justify]="'start'" #tabs>
    <!-- participant tab -->
    <ngb-tab [id]="'event-info'" *ngIf="eventModel?.participant"  title="Event info">
      <ng-template ngbTabContent>
        <event-description [editEnabled]="false" [event]="currentUpdateRequest"></event-description>
      </ng-template>
    </ngb-tab>
    <!-- participant tab -->
    <ngb-tab [id]="'all-candidates'" *ngIf="eventModel?.participant" title="All candidates">
      <ng-template ngbTabContent>
        <jblx-candidates [event]="eventModel" [eventId]="eventId" *ngIf="eventModel"></jblx-candidates>
      </ng-template>
    </ngb-tab>
    <!-- participant tab -->
    <ngb-tab [id]="'positions'" *ngIf="eventModel?.participant" title="Positions">
      <ng-template ngbTabContent>
        <jblx-positions [eventId]="eventId"></jblx-positions>
      </ng-template>
    </ngb-tab>
    <!-- host tab -->
    <ngb-tab [id]="'description'" *ngIf="eventModel?.host" title="Description">
      <ng-template ngbTabContent>
        <event-description #descriptionComponent [editEnabled]="editEnabled" [isHost]="true" [event]="currentUpdateRequest"></event-description>
      </ng-template>
    </ngb-tab>
    <!-- host tab -->
    <ngb-tab [id]="'companies'" *ngIf="eventModel?.host" title="Companies">
      <ng-template ngbTabContent>
        <jblx-event-companies [eventId]="eventId" [eventStatus]="currentUpdateRequest.eventStatus"></jblx-event-companies>
      </ng-template>
    </ngb-tab>
    <!-- host tab -->
    <ngb-tab [id]="'dashboard'" *ngIf="eventModel?.host" title="Dashboard">
      <ng-template ngbTabContent>
        <p>

        </p>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
