<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <p class="modal-title">
      Add new company
    </p>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form novalidate #formCompany="ngForm" class="text-left" (submit)="add(formCompany)">
      <div class="form-group">
        <input type="text"
               class="form-control"
               [(ngModel)]="company.emailAddress"
               [ngbTypeahead]="search"
               name="emailAddress"
               #emailAddress="ngModel"
               autocomplete="off"
               (selectItem)="onEmailSelect($event)"
               placeholder="Admin email (Auto-complete)"
               required>
        <span class="jbrx-control-error" *ngIf="emailAddress.errors?.required && emailAddress.dirty">
          * admin email is required
        </span>
      </div>
      <div class="row">
        <div class="col form-group">
          <input class="form-control"
                 [(ngModel)]="company.firstName"
                 name="firstName"
                 #firstName="ngModel"
                 placeholder="Admin First Name *"
                 required>
          <span class="jbrx-control-error" *ngIf="firstName.errors?.required && firstName.dirty">
            * first name is required
          </span>
        </div>
        <div class="col form-group">
          <input class="form-control"
                 [(ngModel)]="company.lastName"
                 name="lastName"
                 #lastName="ngModel"
                 placeholder="Admin Last Name *"
                 required>
          <span class="jbrx-control-error" *ngIf="lastName.errors?.required && lastName.dirty">
            * last name is required
          </span>
        </div>
      </div>
      <div class="form-group">
        <input class="form-control"
               [(ngModel)]="adminPhoneNumber"
               name="adminPhoneNumber"
               placeholder="Admin phone number">
      </div>
      <div class="form-group">
        <input class="form-control"
               [(ngModel)]="company.companyName"
               name="companyName"
               #companyName="ngModel"
               placeholder="Company name *"
               required>
        <span class="jbrx-control-error" *ngIf="companyName.errors?.required && companyName.dirty">
            * company name is required
        </span>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="jblx-btn btn-modal btn-yellow" (click)="add(formCompany)">Add</button>
  </div>
  <div class="pb-1 text-center" [ngSwitch]="errorSubmit">
      <span class="jbrx-control-error" *ngSwitchCase="1">
        This company already exist in this event. Please check.
      </span>
      <span class="jbrx-control-error" *ngSwitchCase="2">
        This email already exist in another company. Please check.
      </span>
  </div>
</ng-template>
