@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  height: 100%;
}

* {
  font-family: HelveticaNeue;
}

p{
  margin-bottom: 0;
}

/*font-family-google-icon*/
.ff-gi-before:before, .ff-gi:after, .ff-gi:before {
  font-family: 'Material Icons';
  font-feature-settings: 'liga';
}

h1 {
  font-size: 36px;
  font-weight: 500;
  color: #00214b;
}

h3 {
  font-size: 28px;
  color: #00214b;
}
