.jblx-btn {
  cursor: pointer;

  &.btn-save {
    height: 40px;
    width: 100px;
    border-radius: 24px;
    cursor: pointer;
    background: white;
    color: #00214b;
    border: 1px solid #00214b;
    box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 1);

    &:active, &:focus {
      outline: 0;
    }

    &:hover {
      color: white;
      background: linear-gradient(to right, #00214b, #004582);
    }
  }

  &.btn-yellow {
    color: #00214b;
    background-color: #fffe00;
  }

  &.btn-default {
    background-color: white;
    color: #4a4a4a;
  }

  &.btn-shadow {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.14);
  }

  &.btn-rectangel {
    border-radius: 6px;
    padding: 9px 14px;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.8px;
    border: none;
  }

  &.btn-modal {
    .btn-rectangel;
    padding: 9px 34px;
    font-size: 22px;

    &:hover {
      .btn-shadow;
    }
  }

  &[disabled] {
    background-color: #d4d4d4;
    color: #4a4a4a;
    cursor: auto;
  }

  &.btn-grey {
    background-color: #cecece;
  }
}
