.jbrx.form-group {
  .form-control {
    border-radius: 2px;
    border: solid 1px #000000;
  }
}

.jbrx-control-error {
  opacity: 0.82;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.6px;
  color: #a00000;
}
