.jblx-material {
  .jblx-mat-table, &.jblx-mat-table {
    th {
      &.mat-header-cell {
        font-size: 22px;
        color: #00214b;
        font-weight: normal;
      }

      .mat-sort-header-arrow {
        color: #00214b;
      }

      button.mat-sort-header-button {
        &:focus, &:active {
          outline-color: transparent;
        }
      }
    }

    .canceled-material {
      &.mat-form-field {
        width: 100% !important;
      }

      .mat-form-field-wrapper {
        width: 50%;

        .mat-form-field-underline,
        .mat-form-field-subscript-wrapper {
          display: none;
        }

        .mat-form-field-label-wrapper {
          left: 10px;
          top: -3px;
        }

        input.mat-input-element{
          caret-color: inherit;
          width: 100%;
          height: 34px;
          border-radius: 8px;
          border: solid 1px #979797;
          padding: 5px 7px;
        }
      }

      &.mat-focused {
        .mat-form-field-label-wrapper {
          display:none;
        }
      }
    }
  }
}
