.jblx-common-modal {
  .modal-header {
    border-bottom: none;
    display: block;

    .modal-title {
      font-size: 38px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.16;
      letter-spacing: 0.3px;
      text-align: center;
      color: #00214b;
      margin-right: 30px;
      margin-left: 30px;
    }

    .close {
      position: absolute;
      top: 10px;
      right: 15px;
      margin: 0;
      padding: 0;
    }
  }

  .modal-body {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #00214b;
    padding-top: 5px;
    padding-buttom: 5px;
  }

  .modal-footer {
    padding-top: 5px;
    border-top: none;
    justify-content: space-around;
  }
}
