.jblx-side-bar {
  box-shadow: 7px 0px 11px -7px rgba(42, 34, 64, 0.14);
  max-width: 225px;

  .ff-gi-before {
    &:before {
      padding-right: 20px;
      margin-left: -20px;
      color: #4a4a4a;
      font-size: 20px;
    }
  }

  .profile-item {
    &:before {
      content: 'account_circle';
    }
  }

  .event-item {
    &:before {
      content: 'grade';
    }
  }

  .side-bar-menu {
    .add-new-event-item {

      height: 40px;

      &:before {
        content: 'add_circle_outline';
      }
    }

    li {
      min-height: 50px;
      padding-left: 30px;
      padding-right: 15px;
      cursor: pointer;
      display: flex;
      align-items: center;
    }

    li > a {
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 0.5px;
      color: #4a4a4a;
      min-height: 50px;
      width: 100%;
      display: flex;
      align-items: center;
      overflow: hidden;
      //margin-left: 25px;

      &:hover {
        text-decoration: none;
      }
    }

    & > li > a {
      font-weight: bold;
    }

    .events-menu {
      position: relative;
      padding-left: 20px;

      .past {
        color: #bdbdbd;
      }

      .ff-gi-before {
        &:before {
          color: #4a4a4a;
          left: 36px;
          font-size: 24px;
        }
      }

      li:not(.add-new-event-item) {
        margin-left: 25px;
      }
    }

    li.active {
      height: 40px;

      a, &.ff-gi-before:before {
        color: #00214b !important;
      }
    }
  }

  .sup-label-new {
    position: relative;
    top: -15px;
    display: inline-block;
    border-radius: 50%;
    background-color: #0050a0;
    color: white;
    font-size: 9px;
    padding: 2px 9px;
  }
}
