.event-description {
  margin-top: 20px;
  font-family: 'HelveticaNeue';
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;

  .event-input {
    height: 24px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #000000;

    &.events-code-input {
      display: inline;
      width: 176px;
      margin-left: 10px;
    }
  }

  .has-error {
    height: 24px;
    opacity: 0.82;
    font-size: 14px;

    line-height: 1.71;
    letter-spacing: 0.5px;
    color: #a00000;

    &.code-error {
      margin-left: 20px;
    }
  }

  .event-label {
    padding-top: calc(-1.625rem + 1px);
    height: 27px;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: normal;
    color: #00214b;

    &.events-code-label {
      margin-left: 10px;
    }
  }

  .preview {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.6px;
    color: #4a4a4a;
    margin: 2px 0 0 0px;

    &.has-error {
      color: #a00000;
    }

    &.code {
      display: inline;
      margin-left: 10px;
    }
  }

  .custom-autocomplete__input #search_places {
    height: 24px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #000000;
  }

}


