<div class="event-description">
  <form #eventDescriptionForm="ngForm" class="event-description-form" novalidate>
    <div class="form-group row">
      <label for="whenDate" class="col-sm-1 col-form-label event-label">When:</label>
      <div class="col-sm-4">
        <input [hidden]="!editEnabled" type="text" class="form-control event-input" id="whenDate"
               placeholder="dd/mm/yy"
               [textMask]="whenDateMask"
               name="whenDate"
               [(ngModel)]="whenDateData"
               #whenDate="ngModel"
               pattern="[0-9]{2}[-|\/]{1}[0-9]{2}[-|\/]{1}[0-9]{2}"
               required>
        <p *ngIf="!editEnabled" class="preview">{{ whenDateData }}</p>
      </div>
      <div *ngIf="whenDate?.invalid && whenDate?.dirty" class="col-sm-5">
        <span *ngIf="whenDate.errors?.required" class="has-error">When date is required</span>
        <span *ngIf="whenDate.errors?.pattern" class="has-error">When date is invalid</span>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-1 col-form-label event-label"></label>
      <div [hidden]="!editEnabled" class="col-sm-2">
        <input [textMask]="endDateMask" type="text" class="form-control event-input"
               [(ngModel)]="startDateData"
               name="startDate"
               #startDate="ngModel"
               required
               minutesHoursValidator
               placeholder="mm:hh">
      </div>
      <div [hidden]="!editEnabled" class="col-sm-2">
        <input [textMask]="endDateMask" type="text" class="form-control event-input"
               [(ngModel)]="endDateData"
               name="endDate"
               #endDate="ngModel"
               [date1]="event.when"
               [date2]="event.endDate"
               [operation]="operation.GT"
               dateCompareValidator
               minutesHoursValidator
               required
               placeholder="mm:hh">
      </div>
      <div *ngIf="(startDate?.invalid && startDate?.dirty) || (endDate?.invalid && endDate?.dirty)" class="col-sm-6">
        <span class="has-error">Oops.. That’s an invalid start/end time</span>
      </div>
      <div *ngIf="!editEnabled" class="col-sm-4">
        <p class="preview">{{ getFormattedDate(event.when, 'HH:mm') + ' - ' + getFormattedDate(event.endDate, 'HH:mm')
          }}</p>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-1 col-form-label event-label">Where:</label>
      <div class="col-sm-5">
        <ng4geo-autocomplete [hidden]="!editEnabled" [userSettings]="userSettings"
                             (componentCallback)="autoCompleteCallback1($event)"></ng4geo-autocomplete>
        <p *ngIf="!editEnabled" class="preview">{{ event?.location?.placeName }}</p>
      </div>
      <!--<div class="col-sm-6">That didn't work.</div>-->
    </div>

    <div class="form-group">
      <label for="inputAddress" class="event-label">About the event:</label>
      <textarea [hidden]="!editEnabled" type="text" class="form-control" id="inputAddress" rows="3"
                placeholder="Event’s description up to 500 characters"
                #eventDescription="ngModel"
                maxlength="500"
                name="eventDescription"
                indent
                [(ngModel)]="event.description">

      </textarea>
      <div *ngIf="editEnabled" class="text-right">{{ (event.description ? event.description.length : 0) + '/' + 500}}</div>
      <p *ngIf="!editEnabled && !event.description" class="preview has-error">There is no event description.</p>
      <p *ngIf="!editEnabled" class="preview">{{ event.description }}</p>
    </div>

    <div class="form-group" *ngIf="isHost">
      <mat-slide-toggle [checked]="event.closeEvent" [hidden]="!editEnabled"
                        (toggleChange)="toggleCode()"></mat-slide-toggle>
      <label *ngIf="editEnabled || (event.closeEvent && !editEnabled)" for="eventCode" class="event-label"
             [ngClass]="{ 'events-code-label': editEnabled }">Event's code:</label>
      <input [disabled]="!event.closeEvent" [hidden]="!editEnabled" type="text"
             class="form-control event-input events-code-input" id="eventCode" placeholder="max 12 characters"
             name="eventCode"
             [(ngModel)]="event.code"
             #eventCode="ngModel"
             required
             maxlength="12">

      <span *ngIf="eventCode?.invalid && eventCode?.dirty" class="has-error code-error">Oops.. That’s an invalid code</span>

      <p *ngIf="!editEnabled && event.closeEvent" class="preview code">{{ event.code }}</p>
      <div *ngIf="!event.closeEvent && editEnabled" class="preview">
        This event is open. That means every candidate who want to join can do so.
      </div>
      <div *ngIf="!event.closeEvent && !editEnabled" class="preview">
        Your event is open. That means every candidate who want to join can do so.
      </div>
    </div>

  </form>

</div>
