.institute-name-font {
  font-size: 38px;
  font-weight: 500;
  color: #00214b;
}

:host /deep/ .institute-name input.jbrx-input,
:host /deep/ .institute-name .preview
{
  .institute-name-font;
}

.profile-tab {
  .section {
    margin-bottom: 15px;
  }

  h2{
    font-size: 18px;
    color: #00214b;
  }

  .institute-info {
    position: relative;

    .institute-title {
      position: relative;
      min-height: 120px;

      &.edit-mode {
        margin-right: 110px;
      }

      .institute-logo-wrapper {
        position: absolute;
        margin-right: 15px;
        width: 120px;
        height: 120px;

        img {
          width: 100%;
          height: 100%;
          position: absolute;
        }

        .image-upload {
          position: absolute;
          width: 100%;
          height: 100%;

          & > input {
            display: none;
          }

          & > label {
            cursor: pointer;
            display: block;
            width: 100%;
            height: 100%;

            > i {
              position: absolute;
              bottom: 0;
              right: 0;
              color: #00214b;
            }

            &:after {
              content: url('../../../assets/icons/ic-edit-ffffff.svg');
              bottom: 0;
              right: 0;
              position: absolute;
              background-color: rgba(255, 255, 255, 0.7);
            }
          }
        }
      }
      .institute-name {
        margin-left: 140px;
      }
    }

    .edit-menu {
      position: absolute;
      top: 0;
      right: 0;

      .btn-save {
        box-shadow: none;
      }
    }

    .about-institute {
      ::ng-deep /deep/ .preview {
        opacity: 0.82;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.6px;
        color: #4a4a4a;;
      }
    }
  }

  .upcomming-events {
    position: inherit;
  }

  .contact-details {
    .contacts{
      opacity: 0.82;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.6px;
      color: #4a4a4a;
    }
  }
}
