<section class="profile-tab" *ngIf="profile">
  <form novalidate #form="ngForm" (submit)="save(form)">
    <div class="row">
      <section class="col institute-info section">
        <section class="institute-title section" [class.edit-mode]="!isViewMode">
          <div class="institute-logo-wrapper">
            <img *ngIf="!imagePreview" [src]="profile.logoUrl"/>
            <img *ngIf="imagePreview" [src]="imagePreview"/>
            <div class="image-upload" *ngIf="!isViewMode">
              <label for="file-input"></label>

              <input id="file-input"
                     (change)="readURL($event)"
                     type="file"
                     name="institute-logo"
                     accept="image/*"/>
            </div>
          </div>
          <div class="institute-name">
            <jblx-input-view-control name="instituteName"
                                     [(ngModel)]="currentUpdateProfileRequest.instituteName"
                                     #instituteName="ngModel"
                                     [previewEnabled]="isViewMode"
                                     type="text"
                                     required>
              <ng-container *ngIf="!instituteName.valid && !instituteName.pristine">
                Oops.. That’s an invalid institute name
              </ng-container>
            </jblx-input-view-control>
          </div>
        </section>
        <div class="edit-menu" *ngIf="!isViewMode">
          <button type="submit" class="jblx-btn btn-save">Save</button>
        </div>
        <section class="about-institute">
          <h2>About the institute</h2>
          <jblx-textarea-view-control name="aboutInstitute"
                                      [(ngModel)]="currentUpdateProfileRequest.aboutInstitute"
                                      #aboutInstitute="ngModel"
                                      [previewEnabled]="isViewMode"
                                      [placeholder]="'Description about the institute, up to 500 characters'"
                                      maxlength="500"
                                      [cols]="6"
                                      [textLength]="500"
                                      required>

            <span *ngIf="aboutInstitute.errors?.required && aboutInstitute.dirty">Oops.. That’s an invalid description</span>
            <span *ngIf="aboutInstitute.errors?.maxlength && aboutInstitute.dirty">Description should be less or equal 500 symbols</span>

          </jblx-textarea-view-control>
        </section>
      </section>
    </div>
    <div class="row">
      <section class="col upcomming-events section">
        <h2>Upcoming Events</h2>
        <jblx-event-slider></jblx-event-slider>
      </section>
    </div>
    <div class="row">
      <section class="col contact-details section">
        <h2>Contact Details</h2>
        <ul class="contacts list-unstyled">
          <li *ngIf="isViewMode">
            {{currentUpdateProfileRequest.firstName}} {{currentUpdateProfileRequest.lastName}}
          </li>
          <li *ngIf="!isViewMode">
            <div class="jbrx form-group row">
              <div class="col-lg-2 col-md-3 col-6">
                <input class="form-control"
                       name="firstName"
                       [(ngModel)]="currentUpdateProfileRequest.firstName"
                       #firstName="ngModel"
                       type="text"
                       placeholder="First name"
                       required>
              </div>
              <div class="col-lg-2 col-md-3 col-6">
                <input class="form-control"
                       name="lastName"
                       [(ngModel)]="currentUpdateProfileRequest.lastName"
                       #lastName="ngModel"
                       type="text"
                       placeholder="Last name"
                       required>
              </div>
              <div class="jbrx-control-error col-lg-8 col-md-6 col-12">
          <span *ngIf="(!firstName.valid && !firstName.pristine) || (!lastName.valid && !lastName.pristine)">
            Oops.. That’s an invalid phone number
          </span>
              </div>
            </div>
          </li>
          <li [class.mb-2]="!isViewMode">
            {{profile.emailAddress}}
          </li>
          <li *ngIf="isViewMode">
            {{fullPhone}}
          </li>
          <li *ngIf="!isViewMode">
            <div class="jbrx form-group row">
              <div class="col-lg-4 col-md-6 col-12">
                <international-phone-number [(ngModel)]="fullPhone"
                                            placeholder="Enter phone number"
                                            [maxlength]="20"
                                            [required]="true"
                                            #phoneNumber="ngModel"
                                            #phoneNumberComponent
                                            name="phoneNumber"></international-phone-number>
              </div>
              <div class="jbrx-control-error col-lg-8 col-md-6 col-12">
              <span *ngIf="!phoneNumber.valid && !phoneNumber.pristine">
                Oops.. That’s an invalid phone number
              </span>
              </div>
            </div>
          </li>
        </ul>
      </section>
    </div>
  </form>
</section>


