<div class="home-page">
  <section class="intro-section">
    <div class="intro-section__container">
      <h2 class="intro-section__title">Career meets education</h2>
      <p class="intro-section__description">
        Connecting candidates and recruiters through smart networking events.
      </p>
      <p class="intro-section__description last">
        Empowering candidates to find their dream job via career fairs, career centers, and alumni organizations.
      </p>
      <button (click)="hostEventModal.openModal()" class="btn btn-primary host-event-btn" type="button">Host your event</button>
    </div>
  </section>
  <section class="collaborators">
    <h3 class="collaborators__title">Some of our collaborators</h3>
    <div class="row collaborators__container">
      <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
        <img class="collaborators__img" src="../../assets/images/home/TAU.png" alt="Card image cap">
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
        <img class="collaborators__img" src="../../assets/images/home/urban_logo.jpg" alt="Card image cap">
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
        <img class="collaborators__img" src="../../assets/images/home/IDC_logo_White.svg.png" alt="Card image cap">
      </div>
    </div>
  </section>
  <section id="benefits" class="how-it-works">
    <h3 class="how-it-works__title">Everyone benefits!</h3>
    <div class="how-it-works__container">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <div class="benefit">
            <img class="benefit__img" src="../../assets/images/home/ic-recruiter.png">
            <div class="benefit__title">Recruiter</div>
            <div class="benefit__slogan">Discover talent at the event!</div>
            <div class="benefit__description">
              Get access to the best and most promising candidates
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="how-it-works__item">
            <div class="benefit">
              <img class="benefit__img" src="../../assets/images/home/ic-organizer.png">
              <div class="benefit__title">Event organizer</div>
              <div class="benefit__slogan">Maximize event’s potential!</div>
              <div class="benefit__description">
                With data-driven insights and easy-to-use management tools
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="how-it-works__item">
            <div class="benefit">
              <img class="benefit__img" src="../../assets/images/home/ic-candidates.png">
              <div class="benefit__title">Candidates</div>
              <div class="benefit__slogan">Make their profile stand out!</div>
              <div class="benefit__description">
                Easily apply for relevant positions & enable recruiters find them
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="successStroiesSection" class="success-stories">
    <ngu-carousel [inputs]="carouselOne">

      <ngu-tile NguCarouselItem>
        <div class="bannerStyle" style="background-image: url('../../assets/images/home/testemonials-bg-1.jpg'); ">
          <div class="success-stories__container">
            <h2 class="success-stories__container__title">Dana, Student at the IDC</h2>
            <p class="success-stories__container__description">
              “I’m starting a new job thanks to Joobilix! Using Joobilix, I could find the type of career that suits me best, and the most
              relevant company. In a world full of opportunities and positions, Joobilix filtered for me only the relevant
              ones”
            </p>
          </div>
        </div>
      </ngu-tile>

      <ngu-tile NguCarouselItem>
        <div class="bannerStyle" style="background-image: url('../../assets/images/home/testemonials-bg-1.jpg'); ">
          <div class="success-stories__container">
            <h2 class="success-stories__container__title">Dana, Student at the IDC</h2>
            <p class="success-stories__container__description">
              “I’m starting a new job thanks to Joobilix! Using Joobilix, I could find the type of career that suits me best, and the most
              relevant company. In a world full of opportunities and positions, Joobilix filtered for me only the relevant
              ones”
            </p>
          </div>
        </div>
      </ngu-tile>

      <ngu-tile NguCarouselItem>
        <div class="bannerStyle" style="background-image: url('../../assets/images/home/testemonials-bg-1.jpg'); ">
          <div class="success-stories__container">
            <h2 class="success-stories__container__title">Dana, Student at the IDC</h2>
            <p class="success-stories__container__description">
              “I’m starting a new job thanks to Joobilix! Using Joobilix, I could find the type of career that suits me best, and the most
              relevant company. In a world full of opportunities and positions, Joobilix filtered for me only the relevant
              ones”
            </p>
          </div>
        </div>
      </ngu-tile>

      <button NguCarouselPrev class='leftRs'>
        <span class="prev-arrow"></span>
      </button>
      <button NguCarouselNext class='rightRs'>
        <span class="next-arrow"></span>
      </button>
    </ngu-carousel>
  </section>
  <section class="get-started clearfix">
    <div class="get-started__container">
      <h3 class="get-started__container__title">Let’s get started! </h3>
      <p class="get-started__container__description">
          Join Joobilix and enjoy valueble insights and tools to manage your events!
      </p>
      <button (click)="hostEventModal.openModal()" class="btn btn-primary host-event-btn float-right" type="button">Host your event</button>
    </div>
  </section>
</div>

<login-modal #loginModal></login-modal>
<host-event-modal #hostEventModal></host-event-modal>
<jblx-reset-password-modal [isOpenResetPassword]="isOpenResetPassword" #temp></jblx-reset-password-modal>
