.home-page {
  font-family: HiraKakuStd-W8;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;

  .host-event-btn {
    width: 170px;
    height: 44px;
    border-radius: 6px;
    background-color: #fffe00;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.14);
    font-size: 18px;
    letter-spacing: 0.5px;
    color: #050505;
    outline: none;
    border: none;
  }

  .navbar {
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    padding: 10px 0;

    .navbar-toggler {
      margin-right: 20px;
    }

    .navbar-brand {
      font-family: HiraKakuStd-W8;
      font-size: 28px;
      letter-spacing: 0.8px;
      color: #00214b;

      .company-logo {
        margin-left: 20px;
        width: 61px;
        height: 53px;
      }
    }

    .collapse {
      background-color: #fff;

      &.navbar-collapse {
        &.show {
          padding: 15px 0;
        }

        .navbar-nav {
          .nav-item {
            margin-left: 20px;
            .nav-link {
              font-family: HiraKakuPro-W3;
              font-size: 16px;
              letter-spacing: 0.5px;
              color: #00214b;
            }
          }
        }
      }

      .login-btn {
        margin: 0 20px;
        color: #fff;
        border: none;
        width: 111px;
        height: 40px;
        border-radius: 23.5px;
        background-image: linear-gradient(to left, #004582, #00214b);
        box-shadow: 0 2px 8px 0 rgba(116, 115, 115, 0.24);
      }
    }
  }

  .intro-section {
    background-image: url("../../assets/images/home/intro-bg.jpg");
    min-height: 352px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .intro-section__container {
      margin-left: 132px;
      margin-right: 132px;
      padding: 43px 0;
      max-width: 970px;

      .intro-section__title {
        font-family: HelveticaNeue;
        font-size: 48px;
        font-weight: bold;
        color: #ffffff;
      }

      .intro-section__description {
        font-size: 24px;
        color: #ffffff;
      }

      .intro-section__description {
        &.last {
          margin-bottom: 27px;
        }
      }

    }

  }

  .collaborators {
    background-color: #fff;
    min-height: 290px;
    padding: 30px 0;

    .collaborators__title {
      margin-bottom: 30px;
      text-align: center;
      font-family: HelveticaNeue;
      font-size: 30px;
      font-weight: 500;
      color: #00214b;
    }

    .collaborators__container {
      margin: 0 75px;
      text-align: center;
    }

    .collaborators__img {
      height: 150px;
      width: 150px;
    }

  }

  .how-it-works {
    background-color: #f7f7f7;
    padding-bottom: 48px;

    .how-it-works__title {
      padding: 30px 0 58px 0;
      text-align: center;

      font-family: HelveticaNeue;
      font-size: 30px;
      font-weight: 500;
      color: #00214b;
    }

    .how-it-works__container {
      margin: 0 80px;


      .benefit {
        text-align: center;
        padding: 5px;

        .benefit__img {
          max-height: 155px;
        }

        .benefit__title {
          margin-top: 21px;
          font-size: 28px;
          font-weight: 500;
          color: #4a4a4a;
        }

        .benefit__slogan {
          margin-top: 5px;
          font-family: HelveticaNeue;
          font-size: 28px;
          font-weight: 300;
          color: #4a4a4a;
        }

        .benefit__description {
          margin-top: 8px;
          font-size: 18px;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: center;
          color: #00214b;
        }
      }
    }

  }

  .success-stories {

    .bannerStyle {
      min-height: 370px;
      background-size: cover;
    }

    .success-stories__container {
      text-align: center;
      color: #ffffff;

      .success-stories__container__title {
        font-size: 36px;
        letter-spacing: normal;
        padding-top: 53px;
        font-weight: normal;
      }

      .success-stories__container__description {
        max-width: 1070px;
        font-size: 28px;
        color: #ffffff;
        margin: 46px auto 0;
      }
    }



    .item {
      padding: 0;
    }

    .leftRs {
      outline: none;
      display: block;
      position: absolute;
      margin: auto;
      top: -20px;
      bottom: 0;
      border-radius: 999px;
      left: 30px;
      border: none;
      width: 52px;
      height: 52px;
      background-color: #ffffff;
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.14);
      cursor: pointer;
    }

    .rightRs {
      cursor: pointer;
      outline: none;
      display: block;
      position: absolute;
      margin: auto;
      top: -20px;
      bottom: 0;
      border-radius: 999px;
      right: 30px;
      border: none;
      width: 52px;
      height: 52px;
      background-color: #ffffff;
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.14);
    }

    .prev-arrow {
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 10px solid #12315a;
      position: absolute;
      top: 17px;
      right: 22px;
    }

    .next-arrow {
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 10px solid #12315a;
      position: absolute;
      transform: rotate(180deg);
      top: 17px;
      right: 17px;
    }

  }

  .get-started {
    min-height: 220px;
    background-image: linear-gradient(101deg, #00214b, #004582);
    padding: 43px 0;

    .get-started__container {
      margin: 0 100px;

      .get-started__container__title {
        font-family: HelveticaNeue;
        font-size: 34px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
      }

      .get-started__container__description {
        max-width: 60%;
        font-family: HelveticaNeue;
        font-size: 28px;
        color: #ffffff;
        display: inline-block;
      }
    }


  }

}
