<div class="container-fluid company-layout row fix-height">
  <div class="company-side-bar col-auto jblx-side-bar">
    <ul class="side-bar-menu list-unstyled">
      <li [ngClass]="{'active' : !isProfileMenuCollapsed}" class="profile-item ff-gi-before">
        <a (click)="isProfileMenuCollapsed = !isProfileMenuCollapsed">Profile</a>
      </li>
      <!--TODO: add generating of menu depending on current user role-->
      <ul *ngIf="!isProfileMenuCollapsed" class="events-menu list-unstyled">
        <li routerLinkActive="active" >
          <a routerLink="/company/about">About</a>
        </li>
        <li routerLinkActive="active" >
          <a routerLink="/company/accounts">View contacts</a>
        </li>
      </ul>
      <li class="event-item ff-gi-before" [class.active]="!isEventMenuCollapsed">
        <a href="javascript:;" (click)="isEventMenuCollapsed = !isEventMenuCollapsed">Events</a>
      </li>
      <ul class="events-menu list-unstyled" [ngbCollapse]="isEventMenuCollapsed">
        <li routerLinkActive="active" *ngFor="let event of eventMenuItems">
          <a (click)="routeToggleNewEvent(event.id, event.eventStatus)">
            <span jblx-expired-date [time]="event.when" expiredClass="past">{{event.title}}</span>
            <span *ngIf="event.eventStatus === eventStatus.new && ignoreNewLabelEventIds.indexOf(event.id)<0"
                  class="sup-label-new">New</span>
          </a>
        </li>
      </ul>
      <li routerLinkActive="active" class="companies-item ff-gi-before">
        <a routerLink="/company/positions">Positions</a>
      </li>
    </ul>
  </div>
  <div class="pt-3 company-content col">
    <router-outlet></router-outlet>
  </div>
</div>
