<div class="candidates">

  <div class="candidates__btn__wrapper">
    <jblx-candidates-filter></jblx-candidates-filter>

    <button (click)="refresh()" [disabled]="refreshing" class="btn btn-primary candidates__btn refresh" type="button">
      <i *ngIf="refreshing" class="fa fa-refresh fa-spin"></i>
      Refresh
    </button>
  </div>

  <div class="candidates__div">
    <div class="row">
      <div *ngFor="let candidate of paginationCandidates" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-5 mb-4">
        <jblx-candidate (candidateSelected)="onCandidateSelected($event)" [candidate]="candidate" [event]="event" [eventId]="eventId"></jblx-candidate>
      </div>
    </div>
  </div>

  <mat-paginator *ngIf="candidates?.length > 0" (page)="setPage($event)" [length]="candidates.length" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize"></mat-paginator>

</div>

<jblx-sliding-panel #slidePanel>
  <jblx-candidate-profile (candidateLoaded)="slidePanel.open()" [event]="event" [eventId]="eventId" #candidateProfile></jblx-candidate-profile>
</jblx-sliding-panel>


