.candidates {
  font-family: HelveticaNeue;
  padding: 11px 37px 30px 0;

  .candidates__btn__wrapper {
    position: relative;
  }

  .candidates__btn {
    width: 100%;
    max-width: 100px;
    height: 36px;
    border-radius: 6px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
    background-color: #ffffff;
    border: solid 1px #00214b;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #00214b;

    .fa {
      margin-right: 4px;
    }

    &.refresh {
      margin-left: 120px;
      position: absolute;
      top: 0;
    }
  }

  .candidates__div {
    margin-top: 20px;
  }

}

@media(min-width: 1376px) {
  .col-5 {
    flex: 0 0 20%;
    max-width: 20%;
  }
}
