<div class="manage-accounts">
  <h2 class="manage-accounts__h2">Contact details</h2>

  <button (click)="addContactModal.show()" type="button" class="btn btn-primary manage-accounts__btn">Add contact</button>

  <jblx-accounts-table [data]="accountsTableData" *ngIf="accountsTableData"></jblx-accounts-table>

</div>

<jblx-add-contact-modal [redirectAfterSave]="false" #addContactModal></jblx-add-contact-modal>
