.manage-accounts {
  font-family: HelveticaNeue;
  font-style: normal;
  font-stretch: normal;

  .manage-accounts__h2 {
    font-size: 30px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: normal;
    color: #00214b;
    text-shadow: 1px 0 3px rgba(94, 94, 94, 0.15);
  }

  .manage-accounts__btn {
    width: 100%;
    border: none;
    max-width: 170px;
    height: 36px;
    border-radius: 6px;
    background-color: #fffe00;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
    font-size: 16px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #050505;
  }

}
