<div class="privacy-policy">
  <h1>Joobilix - Privacy policy</h1>

  <br>KEY POINTS
  <br>Welcome to Joobilix, an online job matching Service that enables students like you ("Student" or "You") to search for employment opportunities (the "Service"). We, at Joobilix (an entrepreneurship to be incorporated as a limited liability Israeli company) (the “Company”, “we”, “us”, “our”) respect your privacy.
  <br>This Privacy Policy (the “Policy”) explains our privacy practices for the Service we offer through our mobile app (the “App”) in the framework of IDC Annual Career Day. It describes how we collect personal information, use it and share it and the rights and options available to you with respect to your information.
  <br>Providing us with your personal information is a choice you make. We appreciate that and thank you for making this choice. You are not legally obligated to provide us with this information, but we do need in order to provide you the Service.
  <br>This policy is combined into our User Agreement (the “Terms”) and is a part of them.
  <br>In short...
  <br>The following key points of the Privacy Policy are only brought for your convenience. They do not substitute the full Policy.
  <ol>
    <li>Information we collect. We collect information you actively provide us (for example, when you register to the Service or sign-up using your Facebook account and the content that you post on your Professional Profile). We collect analytical information about your use of the Service (e.g., the frequency and scope of your use of the Service), and information about your device.
    </li>
    <li>IDC Annual Career Day. Upon the end of the IDC Annual Career Day and for seven days thereafter, you will be able to choose if you wish to continue to use the App and have your information saved in our systems, otherwise your information will be deleted in its entirety. As of May 2nd,2018 the App will shut down until July 1st, 2018.
    </li>
    <li>Using the information we collect. We use the information we collect to provide you the Service’s features (e.g., connecting you with Employers and find employment opportunities that match your skills and experience). We also use it to improve and customize the Service and develop new services.
    </li>
    <li>Sharing the information, We collect. We may share your information in order to operate, maintain and enhance the Service. For example, we will share your information with Employers that you applied to their profiles through the Service.
    </li>
    <li>Access to Information. You may request to access your personal information, or have us update, correct or delete such information, if the applicable law provides you those rights. You may also be entitled to obtain from us a copy of the personal data you provided us.
    </li>
    <li>Aggregated information. We may use the information we collect from you to create de- identified, statistical or aggregated information, and make it available to others for any purpose.
    </li>
    <li>Retention. We retain your information for until the end of the Period (as defined above),
      unless you provided us your explicit and informed consent to continue using our Services. If you withdraw your consent to us processing your data, we will erase your personal data from our systems
    </li>
    <li>Security. We implement measures to reduce the risks of damage and unauthorized access or
      use of information, but they do not provide absolute information security.
    </li>
    <li>Children privacy. You must be 18 years of age or older in order to use the App. We do not knowingly
      or intentionally collect information about children who are under 13 years of age.
    </li>
    <li>Changes to the Policy. We may change this Policy, in which case we will seek your consent to
      those changes.</li>
  </ol>
  JOOBILIX – PRIVACY POLICY
  <br>INFORMATION WE COLLECT
  <br>Information you actively provide us
  <br>Registration. You may register using your full name, email address and your photo. We may also ask you to provide us with your phone number and ID number. We will explicitly indicate the mandatory fields for completion.
  <br>Registration through Social Media Account. You also may register using your social media account (such as Facebook, Google or LinkedIn account).
  <br>If you choose to register with your social network account, you give us access to retrieve your profile information on such social network. The particular categories of information we retrieve from your social network account are the scope of information that such social network makes available to us by default, according to your privacy settings at the respective social network. The information we collect in this manner typically includes your full name, email address, profile picture and other profile information such as date of birth and gender – to the extent you have these in your profile and the respective social network gives us access to them.
  <br>Professional Information. During the registration process, you will be asked to provide us with the following information: professional experience, availability, skills, academic background and achievements performance (including institutions attended and academic GPA) (collectively, "Professional Information").
  <br>Inquiries. If you contact us for questions or complaints, or for technical support, we will collect the information related to your inquiry. This may include your user ID in the Service, email address and other contact information, depending on the nature of your inquiry.
  <br>Information we automatically collect
  <br>Analytic Information. When you access or use the Service, whether as a registered user or not, we use of third party analytics tools to automatically collect information about your use of the Service. This information includes your session durations, the content you accessed on the Service, your interactions and user-interface clicks with respect to such content, referring URLs, the frequency and scope of your use of the Service.
  <br>Device information. We may collect information about your personal computer or mobile device, including its model, its operating system, unique device identifiers, browser you use its version and language (i.e. locale) preferences, mobile network information and the Internet Protocol (IP) address through which you accessed the Service.
  <br>CHILDREN'S PRIVACY
  <br>The Service is not intended for children under the age of 18. We do not knowingly or intentionally collect information about children who are under 13 years of age.
  <br>IF YOU ARE UNDER THE AGE OF 18 YOU MAY NOT USE THE SERVICE IN ANY WAY.
  <br>USE OF COLLECTED INFORMATION
  <br>Your consent serves as the legal basis for processing your information. You may withdraw consent at any time, without affecting the lawfulness of data processing we carried out based on your consent before such withdrawal.
  <br>IDC Annual Career Day. Upon the end of the IDC Annual Career Day and for seven days (the "Period") thereafter, you will be able to choose if you wish to continue to use the App and have your information saved in our systems, otherwise your information will be deleted in its entirety. As of May 2nd,2018 the App will shut down until July 1st, 2018.
  <br>We use the information we collect for the following purposes:
  <ul>
    <li>Operating the Service and providing its features and functionalities, that is, connecting you to Employers.</li>
    <li>Serving you with relevant employment opportunities.</li>
    <li>Sending you updates and other communications related to the Service (such as when an Employee is interested in approaching you).</li>
    <li>Improving and customizing the Service and developing new services.</li>
    <li>Helping Employers improve their recruitment process.</li>
    <li>Generating statistical and aggregated information about users of the Services.</li>
    <li>Providing you with support, handling complaints and contacting you when we believe it is necessary.</li>
    <li>Enforcing the Terms and this Policy and preventing misuse of the Services.</li>
    <li>Complying with any applicable law and assisting law enforcement agencies and competent authorities, if we believe it is necessary or justified.</li>
    <li>Taking any action in any case of dispute involving you, with respect or in relation to the App.</li>
  </ul>

  Private Mode. Please note, that if you turn on the "private mode" within the App, we will not make any further use of your Professional Information listed above for the purpose of engagement with Employers.
  <br>SHARING INFORMATION COLLECTED
  <br>We may share the information outlined in this Policy, with others, in any of the following instances:
  <ul>
    <li>With Employers that you applied to their profile, in order to facilitate your interaction with them through the Service;
    </li>
    <li>With our contractors and service providers, such as Amazon for data analysis and processing, bug reporting and handling, and in order to operate, maintain and enhance the Service;
    </li>
    <li>If you have breached the Terms, abused your rights to use the Service, or violated any applicable law. Your information may be shared with competent authorities and with any third party, if we believe it is necessary or justified;
    </li>
    <li>If the operation of the Services is organized within a different framework, or through another legal structure or entity (such as due to a merger or acquisition);
    </li>
    <li>We may share personally identifiable information with our corporate group entities, but their use of such information must comply with the Policy.
    </li>
  </ul>
  ACCESSING, UPDATING OR DELETING YOUR PERSONAL INFORMATION AND OBTAINING A COPY OF IT
  <br>You may ask to access the personal information about you that is stored in our systems, or have us update, correct or delete such information. You may also be entitled to obtain from us the personal data you provided us (excluding data we obtained from other sources) in a structured, commonly used and machine-readable format, and have the right to transmit those data to another controller. If you wish to exercise any of these rights, contact us at: Admin@Joobilix.com
  <br>OBJECTING TO DIRECT MARKETING
  <br>Among other things, we process your personal data and profile for marketing purposes. You have the right to object at any time to processing your personal data for such marketing. If you raise such an objection, we will no longer process your personal data for such purposes.
  <br>AGGREGATED INFORMATION
  <br>We may use the information we collect, as outlined above, to compile anonymized or aggregated information. We may share, sell or otherwise communicate and make available such anonymized or aggregated information to any other third party, at our sole discretion.
  <br>TRANSFER OF DATA OUTSIDE YOUR TERRITORY
  <br>We may store and process information in the EU and in other countries such as the United States. We may also process information using cloud services. The laws in those other countries may provide a lesser degree of data protection than the laws of your own country. You agree to the transfer of your information to such other countries for the purpose of processing as described in this Policy, including through cloud services.
  <br>INFORMATION SECURITY
  <br>We implement measures to reduce the risks of damage, loss of information and unauthorized access or use of information. These measures do not provide absolute information security. Therefore, it is not guaranteed and you cannot expect that the Services will be immune from information security risks.
  <br>CALIFORNIA RESIDENTS
  <br>The following disclosure is made pursuant to California Online Privacy Act (CA Civil Code § 22575): When you use our Services, other parties, such as Google, may collect personally identifiable information about your activities over time and across different websites or online services.
  <br>We do not respond to browsers’ “Do Not Track” requests.
  <br>EUROPEAN CITIZENS
  <br>The following disclosures are made pursuant to the European General Data Protection Regulation (GDPR):
  <ul>
    <li>You have the right to withdraw your consent at any time; and to submit a complaint to the relevant supervisory data protection authority.
    </li>
    <li>The Company is the data controller in respect of the processing activities outlined in this Policy.</li>
  </ul>
  DATA RETENTION
  <br>We retain personally identifiable information until the end of the Period (as defined above), unless you provided us your explicit and informed consent to continue using our Services. We will delete any information from our systems, without notice to you, once the Period of this agreement has expired.
  <br>If you withdraw your consent to us processing your data, we will erase your personal data from our systems (unless the data is required for the Company to establish, exercise or defend against legal claims), and inform other data controllers to which we have disclosed your personal data of the erasure request. Please remember that the Service does not provide back-up services for your Content, your phone book or any other data or information uploaded or used by you.
  <br>Please note that uninstalling the App from your device will not cause your personal information to be deleted from our systems or from the Service.
  <br>CHANGES TO THIS PRIVACY POLICY
  <br>We may change this Policy, in which case we will seek your consent to those changes. If you do not consent to the amended Policy, we may terminate your account and block your access to, and use of, the Service. users receive an email when privacy changes?
  <br>CONTACT US
  <br>You may contact us with any questions or comments, at: Admin@Joobilix.com
  <br>Our postal address is: Tel Aviv, Israel
  <br>Effective date of the policy: April 27, 2018
</div>
